<footer class="border-t border-zinc-200">
  <div class="m-auto w-full max-w-[1280px] px-4 py-6 lg:px-[40px]">
    <div class="flex justify-between gap-6">
      <div class="flex flex-1 flex-col break-keep text-zinc-500">
        <h5 class="my-2.5 font-['Oswald'] text-2xl font-medium">Office Location</h5>
        <p class="flex flex-col text-sm">
          <span><%=company.address%></span>
        </p>
      </div>
      <div class="flex flex-1 flex-col text-right break-keep text-zinc-500">
        <h5 class="my-2.5 font-['Oswald'] text-2xl font-medium">Contact Us</h5>
        <p class="flex flex-col text-sm">
          <span>대표전화 | <em class="font-['Oswald'] font-medium not-italic"><%=company.tel%></em></span>
          <span>팩스번호 | <em class="font-['Oswald'] font-medium not-italic"><%=company.fax%></em></span>
          <span>이메일 | <em class="font-['Oswald'] font-medium not-italic"><%=company.email%></em></span>
        </p>
      </div>
    </div>
    <div class="mt-6 lg:mt-0">
      <p class="py-4 text-center font-['Oswald'] text-[13px] text-zinc-500">
        &copy; <span class="font-['Pretendard']"><%=company.name%></span> All rights reserved.
      </p>
    </div>
  </div>
</footer>
