<!-- 메뉴 -->
<!-- TODO: 메뉴 설정 -->
<nav class="hidden items-center lg:flex">
  <ul class="flex gap-2 font-semibold">
    <li class="h-full flex-none">
      <a href="<%=routes.about.url%>" class="flex h-full items-center px-3"><%=routes.about.title%></a>
    </li>
    <li class="h-full flex-none">
      <a href="<%=routes.services.url%>" class="flex h-full items-center px-3"><%=routes.services.title%></a>
    </li>
    <li class="h-full flex-none">
      <a href="<%=routes.results.url%>" class="flex h-full items-center px-3"><%=routes.results.title%></a>
    </li>
    <li class="h-full flex-none">
      <a href="<%=routes.qna.url%>" class="flex h-full items-center px-3"><%=routes.qna.title%></a>
    </li>
    <li class="h-full flex-none">
      <a href="<%=routes.contact.url%>" class="flex h-full items-center px-3"><%=routes.contact.title%></a>
    </li>
  </ul>
</nav>
