<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리 도구 | <%= company.name %></title>
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="flex flex-col min-h-screen">
    <!-- 헤더 -->
    <%- include('partials/header') %>
    <div class="flex-grow flex">
      <!-- 사이드바 -->
      <%- include('partials/sidebar') %>
      <main class="flex-grow flex items-center justify-center p-2 lg:p-4 text-sm">
        <!-- 메인 컨텐츠 -->
        <%- body %>
      </main>
    </div>
    <!-- 푸터 -->
    <%- include('partials/footer') %>
  </body>
</html>
