<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title || '관리도구'%> | <%=company.name%></title>
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="flex flex-col min-h-screen">
    <!-- 헤더 -->
    <%- include('partials/header') %>
    <div class="flex-grow flex lg:h-screen">
      <!-- 사이드바 -->
      <%- include('partials/sidebar') %>
      <div class="flex-grow flex flex-col">
        <!-- 메인 컨텐츠 -->
        <main class="w-full h-full flex-grow p-2 lg:p-4 bg-gray-50 text-sm">
          <%- body %>
        </main>
        <!-- 푸터 -->
        <%- include('partials/footer') %>
      </div>
    </div>
  </body>
</html>
