<!DOCTYPE html>
<html lang="ko" class="dark:bg-gray-800">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title || '관리도구'%> | <%=settings.companyInfo.name%> 관리 시스템</title>
    <%- include('../../common/fonts/pretendard') %>
    <link rel="stylesheet" href="/css/backend/tailwind.css" />
  </head>
  <body>
    <!-- 헤더 -->
    <%- include('partials/header') %>
    <!-- 메인 -->
    <main class="flex h-[calc(100vh-60px)]">
      <!-- 사이드바 -->
      <%- include('partials/sidebar') %>
      <div class="flex-1 overflow-auto">
        <div class="w-full max-w-[1200px] mx-auto px-[40px] py-[30px]"><%- body %></div>
        <!-- 푸터 -->
        <%- include('partials/footer') %>
      </div>
    </main>
    <!-- 로딩 -->
    <%- include('partials/loading') %>
    <%- include('partials/scripts/common') %>
  </body>
</html>
