<!-- 메인 배너 -->
<div class="relative h-[50vh] w-full pt-[56px] lg:h-[460px]">
  <!-- TODO: 배너 이미지 설정 -->
  <div
    class="bg- absolute inset-0 -z-10 h-full w-full bg-[url('/uploads/images/1742233951314-698618677.jpg')] bg-cover bg-fixed bg-center"
  >
    <div class="absolute inset-0 h-full w-full bg-black opacity-50"></div>
  </div>
  <div class="m-auto h-full w-full max-w-[1280px] px-10">
    <div class="flex h-full flex-col items-center justify-center gap-8 py-20">
      <!-- TODO: 배너 문구 설정 -->
      <p class="mb-2 text-center break-keep text-white">
        <span class="text-2xl lg:text-[48px]">
          <strong>법률 사무소 소개</strong>
        </span>
      </p>
      <p class="text-center font-['Oswald'] text-base break-keep text-white lg:text-xl">
        <span>"About Our Firm"</span>
      </p>
    </div>
  </div>
</div>

<!-- 소개 콘텐츠 1 -->
<div class="w-full">
  <div class="m-auto h-full w-full max-w-[1280px] px-4 py-10 lg:px-10 lg:py-20">
    <!-- TODO: 콘텐츠 문구 설정 -->
    <div class="space-y-10 pb-10">
      <div>
        <h4 class="text-3xl font-semibold text-wrap break-keep">
          고객의 권리와 정의를 위한 신념을 최우선으로 삼고 있습니다.
        </h4>
      </div>
      <div>
        <p class="text-xl text-wrap break-keep">
          <%=company.name%> 법률 사무소는 2007년부터 현재, 대형 사고를 입은 피해자와 법률적 문제해결이 필요한 분들에게
          최선의 방향을 제시하는 법률 사무소입니다.
        </p>
      </div>
      <div>
        <p class="text-xl text-wrap break-keep">
          상해 관련 각 분야의 최고 전문가들로 구성된 변호인단은 고객과의 끊임없는 소통을 통해 시시각각 변하는 상황에
          대해 최고의 판단과 가치를 창출해 냅니다.
        </p>
        <p class="text-xl text-wrap break-keep">
          또한 치명적 사고 사건의 경우에, 저희는 사고 포렌식 및 의학 분야의 최고 전문가와 협력하여 심각한 부상을 입은
          고객을 위해 복잡한 소송을 처리합니다.
        </p>
      </div>
      <div>
        <p class="text-xl text-wrap break-keep">
          <strong>귀하는 오직 회복만에 집중하십시오. 귀하의 회복이 우선입니다.</strong>
        </p>
      </div>
      <div>
        <p class="text-xl text-wrap break-keep">
          <%=company.name%> 법률 사무소는 국내 최대 기업 및 다국적 기업 그리고 법률회사와의 싸움에서 성과를
          쌓아왔습니다.
        </p>
        <p class="text-xl text-wrap break-keep">
          이러한 입증된 최고의 성공 경험은 재산과 권리의 피해를 입은 고객에게 최선의 결과를 가져다줄 것입니다.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- 소개 콘텐츠 2 -->
<div class="relative w-full">
  <!-- TODO: 배너 이미지 설정 -->
  <div
    class="absolute inset-0 -z-10 h-full w-full bg-[url('/uploads/images/1742233951314-698618677.jpg')] bg-cover bg-center"
  >
    <div class="absolute inset-0 h-full w-full bg-black opacity-50"></div>
  </div>
  <!-- TODO: 콘텐츠 문구 설정 -->
  <div class="m-auto h-full w-full max-w-[1280px] px-4 py-10 lg:px-10 lg:py-20">
    <div class="space-y-10 pb-10 text-white">
      <div class="space-y-2">
        <h2 class="text-4xl font-semibold text-wrap break-keep">홍길동</h2>
        <p class="text-xl text-wrap break-keep"><span>변호사</span> | <span>Gil Dong Hong</span></p>
      </div>
      <div class="space-y-2">
        <p class="text-xl text-wrap break-keep"><span>Email</span> | <span><%=company.email%></span></p>
        <p class="text-xl text-wrap break-keep"><span>Tel</span> | <span><%=company.tel%></span></p>
      </div>
    </div>
  </div>
</div>

<!-- 소개 콘텐츠 3 -->
<div class="w-full">
  <div class="m-auto h-full w-full max-w-[1280px] px-4 pt-10 lg:px-10 lg:pt-20">
    <div class="space-y-6 border-b border-zinc-300 pb-20">
      <div>
        <p class="text-lg text-wrap break-keep">
          저는 개인 상해법만을 전문으로 하고 있기 때문에, 이 분야의 법에 대해, 추세와 동향에 대해 정통해 있다고
          자부합니다.
        </p>
      </div>
      <div>
        <p class="text-lg text-wrap break-keep">
          저는 사건이 합의에 이르기까지의 시작부터 마지막까지 전 과정을 직접 지휘하고 있습니다.
        </p>
        <p class="text-lg text-wrap break-keep">
          따라서 귀하의 사례에 대해 정확하게 파악하고 어떻게 하면 최상의 결과를 이끌어 낼 수 있는지에 대해 잘 알고
          있습니다.
        </p>
      </div>
      <div>
        <p class="text-lg text-wrap break-keep">
          또한 사례가 재판에 부쳐지는 것을 두려워하지 않고, 사례를 너무 이르게 합의하여 얻을 수 있는 최대의 결과를
          포기하는 실수는 하지 않을 것입니다.
        </p>
        <p class="text-lg text-wrap break-keep">
          의뢰인은 시간에 구애받지 않고 언제든 저에게 연락을 취하실 수 있으며, 의뢰인의 사례에 대해 최선의 진행방향을
          조언해 드릴 것입니다.
        </p>
      </div>
      <div>
        <p class="text-lg text-wrap break-keep">
          항상 의뢰인의 입장에서 생각하며, 여러분의 법률문제를 성실과 신뢰를 바탕으로 최선의 결과로 보답하여
          드리겠습니다.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- 소개 콘텐츠 4 -->
<div class="w-full">
  <div class="m-auto h-full w-full max-w-[1280px] px-4 pt-10 lg:px-10 lg:pt-20">
    <div
      class="flex flex-col-reverse items-center justify-between border-b border-zinc-300 pb-20 lg:flex-row lg:items-start"
    >
      <div class="flex-1">
        <!-- TODO: 콘텐츠 문구 설정 -->
        <h3 class="pb-6 text-2xl font-semibold lg:pb-10 lg:text-[36px]">
          <p>약력</p>
        </h3>
        <div class="ml-6">
          <ul class="list-disc text-lg">
            <li>前 ooo</li>
            <li>前 ooo</li>
            <li>前 ooo</li>
            <li>前 ooo</li>
            <li>前 ooo</li>
            <li>前 ooo</li>
            <li>前 ooo</li>
            <li>~ 現 <%=company.name%> 변호사 법률 사무소</li>
          </ul>
        </div>
      </div>
      <div class="aspect-2/3 w-[250px]">
        <img src="/uploads/images/1742233951314-698618677.jpg" alt="소개 이미지" class="h-full w-full object-cover" />
      </div>
    </div>
  </div>
</div>

<!-- 소개 콘텐츠 6 -->
<div class="w-full">
  <div class="m-auto h-full w-full max-w-[1280px] px-4 py-10 lg:px-10 lg:py-20">
    <div class="flex items-end justify-between pb-6 lg:pb-10">
      <!-- TODO: 콘텐츠 문구 설정 -->
      <h3 class="text-2xl font-semibold lg:text-[36px]">
        <p>다양한</p>
        <p>법률 서비스</p>
      </h3>
    </div>
    <div class="pb-10">
      <!-- TODO: 콘텐츠 이미지 설정 -->
      <div id="aboutContent6" class="swiper h-[475px] lg:h-[550px]">
        <div class="swiper-wrapper">
          <div
            class="swiper-slide cursor-pointer bg-[url(/uploads/images/1742233951314-698618677.jpg)] bg-cover bg-center"
          >
            <div class="absolute inset-0 -z-10 bg-black opacity-50"></div>
            <div class="flex h-full w-full flex-col justify-between p-8">
              <div class="flex items-center justify-between">
                <div class="mr-10 w-full border-2 border-b border-white"></div>
                <p class="font-['Oswald'] text-2xl font-semibold text-white">01</p>
              </div>
              <p class="w-[50%] text-2xl font-semibold text-wrap break-keep text-white">치명적 상해사고</p>
            </div>
          </div>
          <div
            class="swiper-slide cursor-pointer bg-[url(/uploads/images/1742233951314-698618677.jpg)] bg-cover bg-center"
          >
            <div class="absolute inset-0 -z-10 bg-black opacity-50"></div>
            <div class="flex h-full w-full flex-col justify-between p-8">
              <div class="flex items-center justify-between">
                <div class="mr-10 w-full border-2 border-b border-white"></div>
                <p class="font-['Oswald'] text-2xl font-semibold text-white">02</p>
              </div>
              <p class="w-[50%] text-2xl font-semibold text-wrap break-keep text-white">대형 교통사고</p>
            </div>
          </div>
          <div
            class="swiper-slide cursor-pointer bg-[url(/uploads/images/1742233951314-698618677.jpg)] bg-cover bg-center"
          >
            <div class="absolute inset-0 -z-10 bg-black opacity-50"></div>
            <div class="flex h-full w-full flex-col justify-between p-8">
              <div class="flex items-center justify-between">
                <div class="mr-10 w-full border-2 border-b border-white"></div>
                <p class="font-['Oswald'] text-2xl font-semibold text-white">03</p>
              </div>
              <p class="w-[50%] text-2xl font-semibold text-wrap break-keep text-white">의료 사고</p>
            </div>
          </div>
          <div
            class="swiper-slide cursor-pointer bg-[url(/uploads/images/1742233951314-698618677.jpg)] bg-cover bg-center"
          >
            <div class="absolute inset-0 -z-10 bg-black opacity-50"></div>
            <div class="flex h-full w-full flex-col justify-between p-8">
              <div class="flex items-center justify-between">
                <div class="mr-10 w-full border-2 border-b border-white"></div>
                <p class="font-['Oswald'] text-2xl font-semibold text-white">04</p>
              </div>
              <p class="w-[50%] text-2xl font-semibold text-wrap break-keep text-white">보행자 및 자전거 사고</p>
            </div>
          </div>
          <div
            class="swiper-slide cursor-pointer bg-[url(/uploads/images/1742233951314-698618677.jpg)] bg-cover bg-center"
          >
            <div class="absolute inset-0 -z-10 bg-black opacity-50"></div>
            <div class="flex h-full w-full flex-col justify-between p-8">
              <div class="flex items-center justify-between">
                <div class="mr-10 w-full border-2 border-b border-white"></div>
                <p class="font-['Oswald'] text-2xl font-semibold text-white">05</p>
              </div>
              <p class="w-[50%] text-2xl font-semibold text-wrap break-keep text-white">구내 상해사고</p>
            </div>
          </div>
          <div
            class="swiper-slide cursor-pointer bg-[url(/uploads/images/1742233951314-698618677.jpg)] bg-cover bg-center"
          >
            <div class="absolute inset-0 -z-10 bg-black opacity-50"></div>
            <div class="flex h-full w-full flex-col justify-between p-8">
              <div class="flex items-center justify-between">
                <div class="mr-10 w-full border-2 border-b border-white"></div>
                <p class="font-['Oswald'] text-2xl font-semibold text-white">06</p>
              </div>
              <p class="w-[50%] text-2xl font-semibold text-wrap break-keep text-white">개에게 물림 사고</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script nonce="<%=nonce%>">
  // 콘텐츠 2 스와이퍼 설정
  const swiper = new Swiper('#aboutContent6', {
    slidesPerView: 1.3,
    spaceBetween: 4,
    loop: true,
    autoplay: {
      delay: 3000,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    // 1024px 이상일 때
    breakpoints: {
      1024: {
        slidesPerView: 4.3,
        spaceBetween: 4,
      },
    },
  });
</script>
