<!-- 메인 배너 -->
<div class="relative h-screen w-full pt-[56px] lg:h-[800px]">
  <!-- TODO: 배너 이미지 설정 -->
  <div
    class="absolute inset-0 -z-10 h-full w-full bg-[url('/uploads/images/1742233951314-698618677.jpg')] bg-cover bg-center"
  >
    <div class="absolute inset-0 h-full w-full bg-black opacity-50"></div>
  </div>
  <div class="m-auto h-full w-full max-w-[1280px] px-10">
    <div class="flex h-full flex-col items-center justify-center gap-8 py-20">
      <!-- TODO: 배너 문구 설정 -->
      <p class="mb-2 text-center break-keep text-white">
        <span class="font-['Cinzel'] text-2xl lg:text-[48px]">
          <strong>Trusted Expertise, Proven Results.</strong>
        </span>
      </p>
      <p class="text-center text-base font-semibold break-keep text-white lg:text-xl">
        <span>사고와 상해로 인해 피해를 입은 분들을 위해</span>
        <br />
        <span>마땅히 보호받아야 할 권리를 찾도록 최선을 다하겠습니다.</span>
      </p>
      <button
        id="contactBtn"
        class="flex cursor-pointer items-center rounded-full bg-[#0c0c0c] px-6 py-3 text-sm font-semibold text-white lg:text-[15px]"
      >
        <span>무료 상담하기</span>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="currentColor" class="ml-2 h-3 w-3">
          <path
            d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
          />
        </svg> -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="ml-2 h-3 w-3">
          <path
            d="M347.1 24.6c7.7-18.6 28-28.5 47.4-23.2l88 24C499.9 30.2 512 46 512 64c0 247.4-200.6 448-448 448c-18 0-33.8-12.1-38.6-29.5l-24-88c-5.3-19.4 4.6-39.7 23.2-47.4l96-40c16.3-6.8 35.2-2.1 46.3 11.6L207.3 368c70.4-33.3 127.4-90.3 160.7-160.7L318.7 167c-13.7-11.2-18.4-30-11.6-46.3l40-96z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>

<!-- 메인 콘텐츠 1 -->
<div class="w-full">
  <div class="m-auto h-full w-full max-w-[1280px] px-4 py-10 lg:px-10 lg:py-20">
    <div class="flex items-end justify-between border-b border-black pb-6 lg:pb-10">
      <!-- TODO: 콘텐츠 문구 설정 -->
      <h3 class="text-2xl font-semibold lg:text-[36px]">
        <p><%=company.name%></p>
        <p>법률 사무소에서는</p>
      </h3>
      <div class="flex-none">
        <button id="aboutBtn" class="cursor-pointer border border-black bg-white px-6 py-3 text-xs font-semibold">
          전체보기
        </button>
      </div>
    </div>
    <div class="lg:pl-50">
      <!-- TODO: 콘텐츠 문구 설정 -->
      <div class="flex flex-wrap justify-end gap-y-5 py-6 lg:gap-0 lg:py-10">
        <div class="flex-[50%] space-y-2.5 lg:flex-1 lg:px-4">
          <p class="text-base font-semibold lg:text-lg">24시간</p>
          <p class="text-sm text-wrap break-keep text-zinc-400 lg:text-base">언제 어디서나 간단히</p>
        </div>
        <div class="flex-[50%] space-y-2.5 lg:flex-1 lg:px-4">
          <p class="text-base font-semibold lg:text-lg">무료상담</p>
          <p class="text-sm text-wrap break-keep text-zinc-400 lg:text-base">부담없이 편한 마음으로</p>
        </div>
        <div class="flex-[50%] space-y-2.5 lg:flex-1 lg:px-4">
          <p class="text-base font-semibold lg:text-lg">담당변호사</p>
          <p class="text-sm text-wrap break-keep text-zinc-400 lg:text-base">풍부한 경험의 베테랑</p>
        </div>
        <div class="flex-[50%] space-y-2.5 lg:flex-1 lg:px-4">
          <p class="text-base font-semibold lg:text-lg">프로세스</p>
          <p class="text-sm text-wrap break-keep text-zinc-400 lg:text-base">체계적이고 확실한 도움</p>
        </div>
        <div class="flex-[50%] space-y-2.5 lg:flex-1 lg:px-4">
          <p class="text-base font-semibold lg:text-lg">정당한 보상</p>
          <p class="text-sm text-wrap break-keep text-zinc-400 lg:text-base">
            풍부한 경험을 바탕으로 최고의 보상을 기대
          </p>
        </div>
      </div>
      <div class="h-[150px] w-full lg:h-[450px]">
        <!-- TODO: 콘텐츠 이미지 설정 -->
        <img src="/uploads/images/1742233951314-698618677.jpg" alt="콘텐츠 이미지" class="h-full w-full object-cover" />
      </div>
    </div>
  </div>
</div>

<!-- 메인 콘텐츠 2 -->
<div class="w-full bg-sky-50">
  <div class="m-auto h-full w-full max-w-[1280px] px-4 py-10 lg:px-10 lg:py-20">
    <div class="flex items-end justify-between pb-6 lg:pb-10">
      <!-- TODO: 콘텐츠 문구 설정 -->
      <h3 class="text-2xl font-semibold lg:text-[36px]">
        <p>다양한</p>
        <p>법률 서비스</p>
      </h3>
      <div class="flex-none">
        <button id="servicesBtn" class="cursor-pointer border border-black bg-white px-6 py-3 text-xs font-semibold">
          전체보기
        </button>
      </div>
    </div>
    <div class="lg:pl-50">
      <!-- TODO: 콘텐츠 이미지 설정 -->
      <div id="mainContent2" class="swiper h-[475px] lg:h-[550px]">
        <div class="swiper-wrapper">
          <div
            class="swiper-slide cursor-pointer bg-[url(/uploads/images/1742233951314-698618677.jpg)] bg-cover bg-center"
          >
            <div class="absolute inset-0 -z-10 bg-black opacity-50"></div>
            <div class="flex h-full w-full flex-col justify-between p-8">
              <div class="flex items-center justify-between">
                <div class="mr-10 w-full border-2 border-b border-white"></div>
                <p class="font-['Oswald'] text-2xl font-semibold text-white">01</p>
              </div>
              <p class="w-[50%] text-2xl font-semibold text-wrap break-keep text-white">치명적 상해사고</p>
            </div>
          </div>
          <div
            class="swiper-slide cursor-pointer bg-[url(/uploads/images/1742233951314-698618677.jpg)] bg-cover bg-center"
          >
            <div class="absolute inset-0 -z-10 bg-black opacity-50"></div>
            <div class="flex h-full w-full flex-col justify-between p-8">
              <div class="flex items-center justify-between">
                <div class="mr-10 w-full border-2 border-b border-white"></div>
                <p class="font-['Oswald'] text-2xl font-semibold text-white">02</p>
              </div>
              <p class="w-[50%] text-2xl font-semibold text-wrap break-keep text-white">대형 교통사고</p>
            </div>
          </div>
          <div
            class="swiper-slide cursor-pointer bg-[url(/uploads/images/1742233951314-698618677.jpg)] bg-cover bg-center"
          >
            <div class="absolute inset-0 -z-10 bg-black opacity-50"></div>
            <div class="flex h-full w-full flex-col justify-between p-8">
              <div class="flex items-center justify-between">
                <div class="mr-10 w-full border-2 border-b border-white"></div>
                <p class="font-['Oswald'] text-2xl font-semibold text-white">03</p>
              </div>
              <p class="w-[50%] text-2xl font-semibold text-wrap break-keep text-white">의료 사고</p>
            </div>
          </div>
          <div
            class="swiper-slide cursor-pointer bg-[url(/uploads/images/1742233951314-698618677.jpg)] bg-cover bg-center"
          >
            <div class="absolute inset-0 -z-10 bg-black opacity-50"></div>
            <div class="flex h-full w-full flex-col justify-between p-8">
              <div class="flex items-center justify-between">
                <div class="mr-10 w-full border-2 border-b border-white"></div>
                <p class="font-['Oswald'] text-2xl font-semibold text-white">04</p>
              </div>
              <p class="w-[50%] text-2xl font-semibold text-wrap break-keep text-white">보행자 및 자전거 사고</p>
            </div>
          </div>
          <div
            class="swiper-slide cursor-pointer bg-[url(/uploads/images/1742233951314-698618677.jpg)] bg-cover bg-center"
          >
            <div class="absolute inset-0 -z-10 bg-black opacity-50"></div>
            <div class="flex h-full w-full flex-col justify-between p-8">
              <div class="flex items-center justify-between">
                <div class="mr-10 w-full border-2 border-b border-white"></div>
                <p class="font-['Oswald'] text-2xl font-semibold text-white">05</p>
              </div>
              <p class="w-[50%] text-2xl font-semibold text-wrap break-keep text-white">구내 상해사고</p>
            </div>
          </div>
          <div
            class="swiper-slide cursor-pointer bg-[url(/uploads/images/1742233951314-698618677.jpg)] bg-cover bg-center"
          >
            <div class="absolute inset-0 -z-10 bg-black opacity-50"></div>
            <div class="flex h-full w-full flex-col justify-between p-8">
              <div class="flex items-center justify-between">
                <div class="mr-10 w-full border-2 border-b border-white"></div>
                <p class="font-['Oswald'] text-2xl font-semibold text-white">06</p>
              </div>
              <p class="w-[50%] text-2xl font-semibold text-wrap break-keep text-white">개에게 물림 사고</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 메인 콘텐츠 3 -->
<div class="w-full">
  <div class="m-auto h-full w-full max-w-[1280px] px-4 py-10 lg:px-10 lg:py-20">
    <div class="flex items-end justify-between pb-6 lg:pb-10">
      <!-- TODO: 콘텐츠 문구 설정 -->
      <h3 class="text-2xl font-semibold lg:text-[36px]">
        <p>서비스</p>
        <p>성공 사례</p>
      </h3>
      <div class="flex-none">
        <button id="resultsBtn" class="cursor-pointer border border-black bg-white px-6 py-3 text-xs font-semibold">
          전체보기
        </button>
      </div>
    </div>
    <div class="lg:pl-50">
      <!-- TODO: 콘텐츠 이미지 설정 -->
      <div class="grid grid-cols-1 items-center justify-center gap-2 lg:grid-cols-2 lg:gap-4">
        <div>
          <div class="h-[200px] w-full lg:h-[280px]">
            <img
              src="/uploads/images/1742233951314-698618677.jpg"
              alt="콘텐츠 이미지"
              class="h-full w-full object-cover"
            />
          </div>
          <div class="space-y-1 py-3 text-center">
            <p class="font-['Oswald'] text-2xl font-semibold text-cyan-800">19M</p>
            <p class="text-base font-semibold text-zinc-500">교통사고</p>
          </div>
        </div>
        <div>
          <div class="h-[200px] w-full lg:h-[280px]">
            <img
              src="/uploads/images/1742233951314-698618677.jpg"
              alt="콘텐츠 이미지"
              class="h-full w-full object-cover"
            />
          </div>
          <div class="space-y-1 py-3 text-center">
            <p class="font-['Oswald'] text-2xl font-semibold text-cyan-800">2.15M</p>
            <p class="text-base font-semibold text-zinc-500">보행자 및 차량</p>
          </div>
        </div>
        <div>
          <div class="h-[200px] w-full lg:h-[280px]">
            <img
              src="/uploads/images/1742233951314-698618677.jpg"
              alt="콘텐츠 이미지"
              class="h-full w-full object-cover"
            />
          </div>
          <div class="space-y-1 py-3 text-center">
            <p class="font-['Oswald'] text-2xl font-semibold text-cyan-800">1M</p>
            <p class="text-base font-semibold text-zinc-500">의료과실</p>
          </div>
        </div>
        <div>
          <div class="h-[200px] w-full lg:h-[280px]">
            <img
              src="/uploads/images/1742233951314-698618677.jpg"
              alt="콘텐츠 이미지"
              class="h-full w-full object-cover"
            />
          </div>
          <div class="space-y-1 py-3 text-center">
            <p class="font-['Oswald'] text-2xl font-semibold text-cyan-800">3.5M</p>
            <p class="text-base font-semibold text-zinc-500">오토바이 교통사고</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 문의 폼 -->
<div class="w-full">
  <div class="m-auto h-full w-full max-w-[1280px] border-t border-black px-4 py-10 lg:px-10 lg:py-20">
    <div class="flex flex-col justify-between pb-10 lg:flex-row lg:items-end">
      <!-- TODO: 콘텐츠 문구 설정 -->
      <h3 class="mb-4 text-2xl font-semibold lg:mb-0 lg:text-[36px]">
        <p>온라인 상담</p>
      </h3>
      <div class="flex-none">
        <p class="text-sm font-semibold lg:text-lg">양식을 작성해 보내주시면 최대한 빨리 연락드리겠습니다.</p>
      </div>
    </div>
    <div class="lg:pl-50">
      <!-- TODO: 문의 폼 -->
      <form action="" class="space-y-4">
        <!-- 이름 -->
        <div class="space-y-2 text-sm">
          <div class="text-sm font-medium">
            <label for="name">이름</label>
            <span class="text-rose-500">*</span>
          </div>
          <input
            type="text"
            id="name"
            name="name"
            class="w-full rounded-full border border-zinc-400 px-4 py-2 font-semibold placeholder:text-zinc-400 focus:ring-2 focus:ring-sky-500 focus:outline-none"
            placeholder="이름을 입력해주세요."
            required
          />
        </div>
        <!-- 이메일 -->
        <div class="space-y-2 text-sm">
          <div class="text-sm font-medium">
            <label for="email">이메일</label>
            <span class="text-rose-500">*</span>
          </div>
          <input
            type="email"
            id="email"
            name="email"
            class="w-full rounded-full border border-zinc-400 px-4 py-2 font-semibold placeholder:text-zinc-400 focus:ring-2 focus:ring-sky-500 focus:outline-none"
            placeholder="이메일을 입력해주세요."
            required
          />
        </div>
        <!-- 연락처 -->
        <div class="space-y-2 text-sm">
          <div class="text-sm font-medium">
            <label for="phone">연락처</label>
          </div>
          <input
            type="text"
            id="phone"
            name="phone"
            class="w-full rounded-full border border-zinc-400 px-4 py-2 font-semibold placeholder:text-zinc-400 focus:ring-2 focus:ring-sky-500 focus:outline-none"
            placeholder="연락처를 입력해주세요."
          />
        </div>
        <!-- 업무분야 -->
        <div class="space-y-2 text-sm">
          <div class="text-sm font-medium">
            <label for="subject">업무분야</label>
          </div>
          <div class="rounded-full border border-zinc-400">
            <select
              name="subject"
              id="subject"
              class="w-full rounded-full border-r-12 border-transparent px-4 py-2 font-semibold placeholder:text-zinc-400 focus:ring-2 focus:ring-sky-500 focus:outline-none"
            >
              <option value="">업무분야를 선택해주세요.</option>
              <option value="1">치명적 상해사고</option>
              <option value="2">대형 교통사고</option>
              <option value="3">의료사고</option>
              <option value="4">보행자 및 자전거 사고</option>
              <option value="5">구내 상해사고</option>
              <option value="6">개에게 물림 사고</option>
              <option value="7">제조물 책임</option>
              <option value="8">기타</option>
            </select>
          </div>
        </div>
        <!-- 내용 -->
        <div class="space-y-2 text-sm">
          <div class="text-sm font-medium">
            <label for="description">상담 내용</label>
            <span class="text-rose-500">*</span>
          </div>
          <textarea
            id="description"
            name="description"
            class="min-h-[160px] w-full rounded-xl border border-zinc-400 px-4 py-2 font-semibold placeholder:text-sm placeholder:text-zinc-400 focus:ring-2 focus:ring-sky-500 focus:outline-none"
            placeholder="상담하실 내용을 작성해주세요."
            required
          ></textarea>
        </div>
        <!-- 전송 -->
        <div class="text-center">
          <button type="submit" class="cursor-pointer border border-black bg-white px-6 py-3 text-xs font-semibold">
            상담 신청
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- swiper -->
<link rel="stylesheet" href="/js/swiper@11/swiper-bundle.min.css" />
<script src="/js/swiper@11/swiper-bundle.min.js"></script>

<script>
  // 버튼 클릭시 상담 페이지로 이동
  document.getElementById('contactBtn').addEventListener('click', () => {
    location.href = '<%=routes.contact.url%>';
  });

  // 버튼 클릭시 소개 페이지로 이동
  document.getElementById('aboutBtn').addEventListener('click', () => {
    location.href = '<%=routes.about.url%>';
  });

  // 버튼 클릭시 업무분야 페이지로 이동
  document.getElementById('servicesBtn').addEventListener('click', () => {
    location.href = '<%=routes.services.url%>';
  });

  // 버튼 클릭시 성공사례 페이지로 이동
  document.getElementById('resultsBtn').addEventListener('click', () => {
    location.href = '<%=routes.results.url%>';
  });

  // 콘텐츠 2 스와이퍼 설정
  const mainSwiper = new Swiper('#mainContent2', {
    slidesPerView: 1.3,
    spaceBetween: 4,
    loop: true,
    autoplay: {
      delay: 3000,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    // 1024px 이상일 때
    breakpoints: {
      1024: {
        slidesPerView: 3.3,
        spaceBetween: 4,
      },
    },
  });
</script>
