<header
  class="mb-4 flex w-full items-center justify-between rounded-xl bg-default-bg p-4 orb-shadow lg:hidden dark:bg-gray-700"
>
  <!-- 로고 -->
  <a href="<%=backendRoutes.index.url%>">
    <div class="flex items-center justify-center gap-1.5">
      <% if (settings.logo) { %>
        <span class="text-slate-700">
          <img src="<%=settings.logo%>" alt="<%=settings.companyInfo.name%>" class="h-5 w-5" />
        </span>
      <% } %>
      <span class="text-lg lg:text-2xl leading-none font-bold text-slate-700"><%=settings.companyInfo.name.toUpperCase()%></span>
    </div>
  </a>
  <!-- 햄버거 버튼 -->
  <button id="menu-toggle" class="focus:outline-none lg:hidden text-primary-main" aria-label="Toggle Menu">
    <%- include(`icons/menu`) %>
  </button>
</header>
