<!-- 사이드바 PC -->
<nav
  id="sidebar"
  class="fixed overflow-y-auto inset-x-0 top-[60px] lg:flex-col justify-between h-[calc(100vh-64px)] w-[260px] p-4 rounded-xl orb-shadow z-0 text-sm bg-default-bg dark:bg-gray-700"
>
  <div>
    <!-- 로고 -->
    <div class="flex gap-1 items-center justify-between p-2">
      <a href="<%=backendRoutes.index.url%>">
        <span class="text-base font-bold text-primary-main"><%=settings.companyInfo.name.toUpperCase()%></span>
      </a>
      <a class="flex items-center justify-start p-2" href="<%=`https://${settings.serviceDomain}`%>" target="_blank">
        <span class="text-primary-main"> <%- include(`icons/home`) %> </span>
      </a>
    </div>

    <!-- 메뉴 -->
    <div class="mt-4">
      <!-- prettier-ignore -->
      <%- include('menu-section', {
        title: '사이트 관리',
        items: [{
          title: backendRoutes.banners.screens.title,
          url: backendRoutes.banners.screens.url,
          icon: 'screen',
          isActive: backendRoutes.banners.screens.title === title || title.includes("메인"),
        }, {
          title: backendRoutes.banners.popups.title,
          url: backendRoutes.banners.popups.url,
          icon: 'popup',
          isActive: backendRoutes.banners.popups.title === title || title.includes('팝업'),
        }]
      }) %>

      <!-- prettier-ignore -->
      <%- include('menu-section', {
        title: '게시판 관리',
        items: [{
          title: '공지사항',
          url: '/admin/contents/1',
          icon: 'notice',
          isActive: '공지사항' === title || title.startsWith('공지사항'),
        }, {
          title: '문의',
          url: '/admin/contents/2',
          icon: 'inquiry',
          isActive: '문의' === title || title.startsWith('문의'),
        }, {
          title: '상담 및 의뢰',
          url: '/admin/contents/3',
          icon: 'consultation',
          isActive: '상담 및 의뢰' === title || title.startsWith('상담 및 의뢰'),
        }]
      }) %>

      <!-- prettier-ignore -->
      <%- include('menu-section', {
        title: '현황',
        items: [{
          title: backendRoutes.stats.title,
          url: backendRoutes.stats.url,
          icon: 'chart-pie',
          isActive: backendRoutes.stats.title === title,
        }, {
          title: '클릭 통계',
          url: '',
          icon: 'chart-simple',
          isActive: '클릭 통계' === title || title.startsWith('클릭 통계'),
        }]
      }) %>

      <!-- prettier-ignore -->
      <%- include('menu-section', {
        title: '설정',
        items: [{
          title: backendRoutes.employees.list.title,
          url: backendRoutes.employees.list.url,
          icon: 'employee',
          isActive: backendRoutes.employees.list.title === title || title.startsWith('관리자'),
        }, {
          title: backendRoutes.settings.title,
          url: backendRoutes.settings.url,
          icon: 'settings',
          isActive: backendRoutes.settings.title === title,
        }]
      }) %>
    </div>
  </div>

  <!-- 로그아웃 -->
  <div class="border-t border-light-border">
    <ul class="flex flex-col gap-2 font-medium text-gray-500 dark:text-gray-100">
      <li class="mt-2 rounded-lg transition-all dark:hover:text-common-white hover:bg-gray-100 dark:hover:bg-gray-600">
        <button id="logout" class="flex w-full items-center justify-start p-2 cursor-pointer">
          <span class="text-left"> <%- include('icons/logout') %> </span>
          <span class="mx-3">관리자 로그아웃</span>
        </button>
      </li>
    </ul>
  </div>
</nav>

<%- include('scripts/sidebar') %>
