<!-- 사이드바 PC -->
<div id="sidebar-pc" class="hidden fixed top-6 lg:flex lg:flex-col justify-between h-[calc(100vh-64px)] w-[260px] p-4 rounded-xl shadow-[0_2px_30px_rgba(0,0,0,.06)] z-0 text-sm bg-white dark:bg-gray-700">
  <div>
    <!-- 로고 -->
    <a href="<%=backendRoutes.index.url%>">
      <div class="flex gap-1.5 items-center justify-center pt-2">
        <span class="text-gray-700">
          <% if (settings.companyInfo.logo) { %>
            <img src="<%=settings.companyInfo.logo%>" alt="<%=settings.companyInfo.name%>" class="w-6 h-6">
          <% } %>
        </span>
        <span class="text-2xl font-bold text-gray-700"><%=settings.companyInfo.name.toUpperCase()%></span>
      </div>
    </a>
    <!-- 메뉴 -->
    <nav class="mt-6">
      <div class="mb-2 border-t border-slate-100">
        <p class="text-xs font-normal text-gray-400 p-2 mt-2"><%=settings.companyInfo.name%></p>
        <ul class="flex flex-col gap-2 text-gray-500 dark:text-gray-100">
          <li class="font-thin rounded-lg transition-all dark:hover:text-white dark:hover:bg-gray-600 <%if (backendRoutes.dashboard.title === title) {%>orb-hightlight<%} else {%>hover:bg-gray-100<%}%>">
            <a class="flex items-center justify-start p-2" href="<%=backendRoutes.dashboard.url%>">
              <span class="text-left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" fill="currentColor" class="h-[14px] w-[14px]">
                  <path d="M64 64l0 288 512 0 0-288L64 64zM0 64C0 28.7 28.7 0 64 0L576 0c35.3 0 64 28.7 64 64l0 288c0 35.3-28.7 64-64 64L64 416c-35.3 0-64-28.7-64-64L0 64zM128 448l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-384 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/>
                </svg>
              </span>
              <span class="mx-3 font-normal"><%=backendRoutes.dashboard.title%></span>
            </a>
          </li>
        </ul>
      </div>
      <!-- 화면 관리 -->
      <div class="mb-2 border-t border-slate-100">
        <p class="text-xs font-normal text-slate-400 py-2 mt-2">화면 관리</p>
        <ul class="flex flex-col gap-2 text-slate-500 dark:text-slate-100">
          <li class="font-thin rounded-lg transition-all dark:hover:text-white dark:hover:bg-gray-600 <%if (backendRoutes.banners.screens.title === title || title.includes("메인")) {%>orb-hightlight<%} else {%>hover:bg-gray-100<%}%>">
            <a class="flex items-center justify-start p-2" href="<%=backendRoutes.banners.screens.url%>">
              <span class="text-left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-[14px] w-[14px]">
                  <path d="M0 128C0 92.7 28.7 64 64 64l384 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128zm64 32l0 64c0 17.7 14.3 32 32 32l320 0c17.7 0 32-14.3 32-32l0-64c0-17.7-14.3-32-32-32L96 128c-17.7 0-32 14.3-32 32zM80 320c-13.3 0-24 10.7-24 24s10.7 24 24 24l56 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-56 0zm136 0c-13.3 0-24 10.7-24 24s10.7 24 24 24l48 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-48 0z"/>
                </svg>
              </span>
              <span class="mx-3 font-normal"><%=backendRoutes.banners.screens.title%></span>
            </a>
          </li>
          <li class="font-thin rounded-lg transition-all dark:hover:text-white dark:hover:bg-gray-600 <%if (backendRoutes.banners.popups.title === title || title.includes('팝업')) {%>orb-hightlight<%} else {%>hover:bg-gray-100<%}%>">
            <a class="flex items-center justify-start p-2" href="<%=backendRoutes.banners.popups.url%>">
              <span class="text-left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-[14px] w-[14px]">
                  <path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l82.7 0L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3l0 82.7c0 17.7 14.3 32 32 32s32-14.3 32-32l0-160c0-17.7-14.3-32-32-32L320 0zM80 32C35.8 32 0 67.8 0 112L0 432c0 44.2 35.8 80 80 80l320 0c44.2 0 80-35.8 80-80l0-112c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 112c0 8.8-7.2 16-16 16L80 448c-8.8 0-16-7.2-16-16l0-320c0-8.8 7.2-16 16-16l112 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 32z"/>
                </svg>
              </span>
              <span class="mx-3 font-normal"><%=backendRoutes.banners.popups.title%></span>
            </a>
          </li>
        </ul>
      </div>
      <!-- 게시판 관리 -->
      <div class="mb-2 border-t border-slate-100">
        <p class="text-xs font-normal text-gray-400 p-2 mt-2">게시판 관리</p>
        <ul class="flex flex-col gap-2 text-gray-500 dark:text-gray-100">
          <li class="font-thin rounded-lg transition-all dark:hover:text-white dark:hover:bg-gray-600 <%if ('공지사항' === title || title.startsWith('공지사항')) {%>orb-hightlight<%} else {%>hover:bg-gray-100<%}%>">
            <a class="flex items-center justify-start p-2" href="/admin/contents/1">
              <span class="text-left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" fill="currentColor" class="h-[14px] w-[14px]">
                  <path d="M32 32C32 14.3 46.3 0 64 0L320 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-29.5 0 11.4 148.2c36.7 19.9 65.7 53.2 79.5 94.7l1 3c3.3 9.8 1.6 20.5-4.4 28.8s-15.7 13.3-26 13.3L32 352c-10.3 0-19.9-4.9-26-13.3s-7.7-19.1-4.4-28.8l1-3c13.8-41.5 42.8-74.8 79.5-94.7L93.5 64 64 64C46.3 64 32 49.7 32 32zM160 384l64 0 0 96c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-96z"/>
                </svg>
              </span>
              <span class="mx-3 font-normal">공지사항</span>
            </a>
          </li>
          <li class="font-thin rounded-lg transition-all dark:hover:text-white dark:hover:bg-gray-600 <%if ('문의' === title || title.startsWith('문의')) {%>orb-hightlight<%} else {%>hover:bg-gray-100<%}%>">
            <a class="flex items-center justify-start p-2" href="/admin/contents/2">
              <span class="text-left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-[14px] w-[14px]">
                  <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM169.8 165.3c7.9-22.3 29.1-37.3 52.8-37.3l58.3 0c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24l0-13.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1l-58.3 0c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/>
                </svg>
              </span>
              <span class="mx-3 font-normal">문의</span>
            </a>
          </li>
          <li class="font-thin rounded-lg transition-all dark:hover:text-white dark:hover:bg-gray-600 <%if ('상담 및 의뢰' === title || title.startsWith('상담 및 의뢰')) {%>orb-hightlight<%} else {%>hover:bg-gray-100<%}%>">
            <a class="flex items-center justify-start p-2" href="/admin/contents/3">
              <span class="text-left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-[14px] w-[14px]">
                  <path
                    d="M347.1 24.6c7.7-18.6 28-28.5 47.4-23.2l88 24C499.9 30.2 512 46 512 64c0 247.4-200.6 448-448 448c-18 0-33.8-12.1-38.6-29.5l-24-88c-5.3-19.4 4.6-39.7 23.2-47.4l96-40c16.3-6.8 35.2-2.1 46.3 11.6L207.3 368c70.4-33.3 127.4-90.3 160.7-160.7L318.7 167c-13.7-11.2-18.4-30-11.6-46.3l40-96z"
                  />
                </svg>
              </span>
              <span class="mx-3 font-normal">상담 및 의뢰</span>
            </a>
          </li>
      </div>
      <!-- 사이트 관리 -->
      <div class="mb-2 border-t border-slate-100">
        <p class="text-xs font-normal text-gray-400 p-2 mt-2">사이트 관리</p>
        <ul class="flex flex-col gap-2 text-gray-500 dark:text-gray-100">
          <li class="font-thin rounded-lg transition-all dark:hover:text-white dark:hover:bg-gray-600 <%if (backendRoutes.employees.list.title === title || title.startsWith('관리자')) {%>orb-hightlight<%} else {%>hover:bg-gray-100<%}%>">
            <a class="flex items-center justify-start p-2" href="<%=backendRoutes.employees.list.url%>">
              <span class="text-left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="currentColor" class="h-[14px] w-[14px]">
                  <path d="M96 128a128 128 0 1 0 256 0A128 128 0 1 0 96 128zm94.5 200.2l18.6 31L175.8 483.1l-36-146.9c-2-8.1-9.8-13.4-17.9-11.3C51.9 342.4 0 405.8 0 481.3c0 17 13.8 30.7 30.7 30.7l131.7 0c0 0 0 0 .1 0l5.5 0 112 0 5.5 0c0 0 0 0 .1 0l131.7 0c17 0 30.7-13.8 30.7-30.7c0-75.5-51.9-138.9-121.9-156.4c-8.1-2-15.9 3.3-17.9 11.3l-36 146.9L238.9 359.2l18.6-31c6.4-10.7-1.3-24.2-13.7-24.2L224 304l-19.7 0c-12.4 0-20.1 13.6-13.7 24.2z"/>
                </svg>
              </span>
              <span class="mx-3 font-normal"><%=backendRoutes.employees.list.title%></span>
            </a>
          </li>
          <li class="font-thin rounded-lg transition-all dark:hover:text-white dark:hover:bg-gray-600 <%if (backendRoutes.stats.title === title) {%>orb-hightlight<%}%>">
            <a class="flex items-center justify-start p-2" href="<%=backendRoutes.stats.url%>">
              <span class="text-left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="currentColor" class="h-[14px] w-[14px]">
                  <path d="M160 80c0-26.5 21.5-48 48-48l32 0c26.5 0 48 21.5 48 48l0 352c0 26.5-21.5 48-48 48l-32 0c-26.5 0-48-21.5-48-48l0-352zM0 272c0-26.5 21.5-48 48-48l32 0c26.5 0 48 21.5 48 48l0 160c0 26.5-21.5 48-48 48l-32 0c-26.5 0-48-21.5-48-48L0 272zM368 96l32 0c26.5 0 48 21.5 48 48l0 288c0 26.5-21.5 48-48 48l-32 0c-26.5 0-48-21.5-48-48l0-288c0-26.5 21.5-48 48-48z"/>
                </svg>
              </span>
              <span class="mx-3 font-normal"><%=backendRoutes.stats.title%></span>
            </a>
          </li>
          <li class="font-thin rounded-lg transition-all dark:hover:text-white dark:hover:bg-gray-600 <%if (backendRoutes.settings.title === title) {%>orb-hightlight<%}%>">
            <a class="flex items-center justify-start p-2" href="<%=backendRoutes.settings.url%>">
              <span class="text-left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-[14px] w-[14px]">
                  <path d="M495.9 166.6c3.2 8.7 .5 18.4-6.4 24.6l-43.3 39.4c1.1 8.3 1.7 16.8 1.7 25.4s-.6 17.1-1.7 25.4l43.3 39.4c6.9 6.2 9.6 15.9 6.4 24.6c-4.4 11.9-9.7 23.3-15.8 34.3l-4.7 8.1c-6.6 11-14 21.4-22.1 31.2c-5.9 7.2-15.7 9.6-24.5 6.8l-55.7-17.7c-13.4 10.3-28.2 18.9-44 25.4l-12.5 57.1c-2 9.1-9 16.3-18.2 17.8c-13.8 2.3-28 3.5-42.5 3.5s-28.7-1.2-42.5-3.5c-9.2-1.5-16.2-8.7-18.2-17.8l-12.5-57.1c-15.8-6.5-30.6-15.1-44-25.4L83.1 425.9c-8.8 2.8-18.6 .3-24.5-6.8c-8.1-9.8-15.5-20.2-22.1-31.2l-4.7-8.1c-6.1-11-11.4-22.4-15.8-34.3c-3.2-8.7-.5-18.4 6.4-24.6l43.3-39.4C64.6 273.1 64 264.6 64 256s.6-17.1 1.7-25.4L22.4 191.2c-6.9-6.2-9.6-15.9-6.4-24.6c4.4-11.9 9.7-23.3 15.8-34.3l4.7-8.1c6.6-11 14-21.4 22.1-31.2c5.9-7.2 15.7-9.6 24.5-6.8l55.7 17.7c13.4-10.3 28.2-18.9 44-25.4l12.5-57.1c2-9.1 9-16.3 18.2-17.8C227.3 1.2 241.5 0 256 0s28.7 1.2 42.5 3.5c9.2 1.5 16.2 8.7 18.2 17.8l12.5 57.1c15.8 6.5 30.6 15.1 44 25.4l55.7-17.7c8.8-2.8 18.6-.3 24.5 6.8c8.1 9.8 15.5 20.2 22.1 31.2l4.7 8.1c6.1 11 11.4 22.4 15.8 34.3zM256 336a80 80 0 1 0 0-160 80 80 0 1 0 0 160z"/>
                </svg>
              </span>
              <span class="mx-3 font-normal"><%=backendRoutes.settings.title%></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- 로그아웃 -->
  <div class="border-t border-slate-100">
    <ul class="flex flex-col gap-2 text-gray-500 dark:text-red-500">
      <li class="flex mt-2 font-thin rounded-lg transition-all dark:hover:text-white hover:bg-gray-100 dark:hover:bg-red-600">
        <button id="logout" class="flex flex-1 items-center justify-start p-2 cursor-pointer">
          <span class="text-left">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="h-[14px] w-[14px]">
              <path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z"/>
            </svg>
          </span>
          <span class="mx-3 font-normal">관리자 로그아웃</span>
        </button>    
      </li>
    </ul>
  </div>
</div>

<!-- 사이드바 MOBILE -->
<div
  id="sidebar-mobile"
  class="fixed flex flex-col justify-between w-64 inset-y-0 right-0 p-4 z-50 bg-white shadow-[0_2px_30px_rgba(0,0,0,.06)] transform translate-x-full transition-transform duration-300 ease-in-out lg:hidden"
>
  <!-- 메뉴 -->
  <nav>
    <!-- 닫기 버튼 -->
    <div class="text-right mx-4 mt-4 mb-8">
      <button id="menu-close" class="orb-btn orb-btn-close">
        Close
      </button>
    </div>
    <div class="mb-4">
      <ul class="flex flex-col mt-2 gap-2 text-gray-500 dark:text-gray-100">
        <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600 <%if (backendRoutes.dashboard.title === title) {%>orb-hightlight<%}%>">
          <a class="flex items-center justify-start p-2" href="<%=backendRoutes.dashboard.url%>">
            <span class="text-left">
              <svg width="20" height="20" fill="currentColor" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M1024 1131q0-64-9-117.5t-29.5-103-60.5-78-97-28.5q-6 4-30 18t-37.5 21.5-35.5 17.5-43 14.5-42 4.5-42-4.5-43-14.5-35.5-17.5-37.5-21.5-30-18q-57 0-97 28.5t-60.5 78-29.5 103-9 117.5 37 106.5 91 42.5h512q54 0 91-42.5t37-106.5zm-157-520q0-94-66.5-160.5t-160.5-66.5-160.5 66.5-66.5 160.5 66.5 160.5 160.5 66.5 160.5-66.5 66.5-160.5zm925 509v-64q0-14-9-23t-23-9h-576q-14 0-23 9t-9 23v64q0 14 9 23t23 9h576q14 0 23-9t9-23zm0-260v-56q0-15-10.5-25.5t-25.5-10.5h-568q-15 0-25.5 10.5t-10.5 25.5v56q0 15 10.5 25.5t25.5 10.5h568q15 0 25.5-10.5t10.5-25.5zm0-252v-64q0-14-9-23t-23-9h-576q-14 0-23 9t-9 23v64q0 14 9 23t23 9h576q14 0 23-9t9-23zm256-320v1216q0 66-47 113t-113 47h-352v-96q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v96h-768v-96q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v96h-352q-66 0-113-47t-47-113v-1216q0-66 47-113t113-47h1728q66 0 113 47t47 113z">
                  </path>
              </svg>
            </span>
            <span class="mx-4 font-normal"><%=backendRoutes.dashboard.title%></span>
          </a>
        </li>
      </ul>
    </div>
    <!-- 화면 관리 -->
    <div class="mb-4">
      <p class="font-normal text-slate-300 py-2 border-b border-slate-100">화면 관리</p>
      <ul class="flex flex-col mt-2 gap-2 text-slate-500 dark:text-slate-100">
        <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600 <%if (backendRoutes.banners.screens.title === title) {%>orb-hightlight<%}%>">
          <a class="flex items-center justify-start p-2" href="<%=backendRoutes.banners.screens.url%>">
            <span class="text-left">
              <svg width="20" height="20" fill="currentColor" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M1070 1178l306-564h-654l-306 564h654zm722-282q0 182-71 348t-191 286-286 191-348 71-348-71-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z">
                  </path>
              </svg>
            </span>
            <span class="mx-4 font-normal"><%=backendRoutes.banners.screens.title%></span>
          </a>
        </li>
        <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600 <%if (backendRoutes.banners.popups.title === title) {%>orb-hightlight<%}%>">
          <a class="flex items-center justify-start p-2" href="<%=backendRoutes.banners.popups.url%>">
            <span class="text-left">
              <svg width="20" height="20" fill="currentColor" class="m-auto" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M960 0l960 384v128h-128q0 26-20.5 45t-48.5 19h-1526q-28 0-48.5-19t-20.5-45h-128v-128zm-704 640h256v768h128v-768h256v768h128v-768h256v768h128v-768h256v768h59q28 0 48.5 19t20.5 45v64h-1664v-64q0-26 20.5-45t48.5-19h59v-768zm1595 960q28 0 48.5 19t20.5 45v128h-1920v-128q0-26 20.5-45t48.5-19h1782z">
                  </path>
              </svg>
            </span>
            <span class="mx-4 font-normal"><%=backendRoutes.banners.popups.title%></span>
          </a>
        </li>
      </ul>
    </div>
    <!-- 게시판 관리 -->
    <div class="mb-4">
      <p class="font-normal text-gray-300 py-2 border-b border-slate-100">게시판 관리</p>
      <ul class="flex flex-col mt-2 gap-2 text-gray-500 dark:text-gray-100">
        <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600">
          <a class="flex items-center justify-start p-2" href="/admin/contents/1">
            <span class="text-left">
              <svg width="20" height="20" fill="currentColor" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M1070 1178l306-564h-654l-306 564h654zm722-282q0 182-71 348t-191 286-286 191-348 71-348-71-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z">
                  </path>
              </svg>
            </span>
            <span class="mx-4 font-normal">공지사항</span>
          </a>
        </li>
        <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600">
          <a class="flex items-center justify-start p-2" href="/admin/contents/2">
            <span class="text-left">
              <svg width="20" height="20" fill="currentColor" class="m-auto" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M1024 1131q0-64-9-117.5t-29.5-103-60.5-78-97-28.5q-6 4-30 18t-37.5 21.5-35.5 17.5-43 14.5-42 4.5-42-4.5-43-14.5-35.5-17.5-37.5-21.5-30-18q-57 0-97 28.5t-60.5 78-29.5 103-9 117.5 37 106.5 91 42.5h512q54 0 91-42.5t37-106.5zm-157-520q0-94-66.5-160.5t-160.5-66.5-160.5 66.5-66.5 160.5 66.5 160.5 160.5 66.5 160.5-66.5 66.5-160.5zm925 509v-64q0-14-9-23t-23-9h-576q-14 0-23 9t-9 23v64q0 14 9 23t23 9h576q14 0 23-9t9-23zm0-260v-56q0-15-10.5-25.5t-25.5-10.5h-568q-15 0-25.5 10.5t-10.5 25.5v56q0 15 10.5 25.5t25.5 10.5h568q15 0 25.5-10.5t10.5-25.5zm0-252v-64q0-14-9-23t-23-9h-576q-14 0-23 9t-9 23v64q0 14 9 23t23 9h576q14 0 23-9t9-23zm256-320v1216q0 66-47 113t-113 47h-352v-96q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v96h-768v-96q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v96h-352q-66 0-113-47t-47-113v-1216q0-66 47-113t113-47h1728q66 0 113 47t47 113z">
                  </path>
              </svg>
            </span>
            <span class="mx-4 font-normal">문의</span>
          </a>
        </li>
    </div>
    <!-- 사이트 관리 -->
    <div class="mb-4">
      <p class="font-normal text-gray-300 py-2 border-b border-slate-100">사이트 관리</p>
      <ul class="flex flex-col mt-2 gap-2 text-gray-500 dark:text-gray-100">
        <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600 <%if (backendRoutes.employees.list.title === title) {%>orb-hightlight<%}%>">
          <a class="flex items-center justify-start p-2" href="<%=backendRoutes.employees.list.url%>">
            <span class="text-left">
              <svg width="20" height="20" fill="currentColor" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M1070 1178l306-564h-654l-306 564h654zm722-282q0 182-71 348t-191 286-286 191-348 71-348-71-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z">
                  </path>
              </svg>
            </span>
            <span class="mx-4 font-normal"><%=backendRoutes.employees.list.title%></span>
          </a>
        </li>
        <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600 <%if (backendRoutes.stats.title === title) {%>orb-hightlight<%}%>">
          <a class="flex items-center justify-start p-2" href="<%=backendRoutes.stats.url%>">
            <span class="text-left">
              <svg width="20" height="20" fill="currentColor" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M1070 1178l306-564h-654l-306 564h654zm722-282q0 182-71 348t-191 286-286 191-348 71-348-71-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z">
                  </path>
              </svg>
            </span>
            <span class="mx-4 font-normal"><%=backendRoutes.stats.title%></span>
          </a>
        </li>
        <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600 <%if (backendRoutes.settings.title === title) {%>orb-hightlight<%}%>">
          <a class="flex items-center justify-start p-2" href="<%=backendRoutes.settings.url%>">
            <span class="text-left">
              <svg width="20" height="20" fill="currentColor" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M1070 1178l306-564h-654l-306 564h654zm722-282q0 182-71 348t-191 286-286 191-348 71-348-71-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z">
                  </path>
              </svg>
            </span>
            <span class="mx-4 font-normal"><%=backendRoutes.settings.title%></span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div>
    <ul class="flex flex-col mt-2 gap-2 text-red-500 dark:text-red-500">
      <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-red-300 dark:hover:bg-red-300">
        <button id="logout-mobile" class="flex items-center justify-start p-2">
          <span class="text-left">
            <svg width="1.5em" height="1.5em" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor" class="h-[18px] w-[18px]">
              <path d="M12 12H19M19 12L16 15M19 12L16 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M19 6V5C19 3.89543 18.1046 3 17 3H7C5.89543 3 5 3.89543 5 5V19C5 20.1046 5.89543 21 7 21H17C18.1046 21 19 20.1046 19 19V18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>
          <span class="mx-4 font-normal">관리자 로그아웃</span>
        </button>    
      </li>
    </ul>
  </div>
</div>

<script nonce="<%=nonce%>">
  const menuToggle = document.getElementById('menu-toggle');
  const sidebarMobile = document.getElementById('sidebar-mobile');
  const closeMenu = document.getElementById('menu-close');
  
  menuToggle.addEventListener('click', () => {
    sidebarMobile.classList.toggle('translate-x-full');
  });

  closeMenu.addEventListener('click', () => {
    sidebarMobile.classList.add('translate-x-full');
  });

  const buttonLogout = document.getElementById('logout');
  const buttonLogoutMobile = document.getElementById('logout-mobile');

  buttonLogout.addEventListener('click', () => {
    if (confirm('로그아웃 하시겠습니까?')) {
      logout();
    }
  });

  buttonLogoutMobile.addEventListener('click', () => {
    if (confirm('로그아웃 하시겠습니까?')) {
      logout();
    }
  });

  const logout = async () => {
    try {
      const response = await fetch('<%=apiRoutes.employees.logout.url%>', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({}),
      });

      if (!response.ok) {
        throw new Error('로그아웃에 실패했습니다.');
      }

      window.location.href = '<%=backendRoutes.employees.login.url%>';

    } catch (error) {
      console.error(error);

    }
  }
</script>
