<!-- 사이드바 PC -->
<div id="sidebar-pc" class="hidden lg:flex lg:flex-col justify-between w-80 p-4 rounded-2xl shadow-lg z-0 mr-4 text-sm bg-white dark:bg-gray-700">
  <div>
    <!-- 로고 -->
    <a href="<%=routes.index.url%>">
      <div class="flex gap-1.5 items-center justify-center pt-6">
        <span class="text-slate-700">
          <img src="<%=company.logo%>" alt="<%=company.name%>" class="w-6 h-6">
        </span>
        <span class="text-2xl font-bold text-slate-700"><%=company.nameEn.toUpperCase()%></span>
      </div>
    </a>
    <!-- 메뉴 -->
    <nav class="mt-8">
      <div class="mb-4">
        <ul class="flex flex-col mt-2 gap-2 text-slate-500 dark:text-slate-100">
          <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600 <%if (routes.dashboard.title === title) {%>orb-hightlight<% }%>">
            <a class="flex items-center justify-start p-2" href="<%=routes.dashboard.url%>">
              <span class="text-left">
                <svg width="20" height="20" fill="currentColor" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                    <path fill="currentColor" d="M1024 1131q0-64-9-117.5t-29.5-103-60.5-78-97-28.5q-6 4-30 18t-37.5 21.5-35.5 17.5-43 14.5-42 4.5-42-4.5-43-14.5-35.5-17.5-37.5-21.5-30-18q-57 0-97 28.5t-60.5 78-29.5 103-9 117.5 37 106.5 91 42.5h512q54 0 91-42.5t37-106.5zm-157-520q0-94-66.5-160.5t-160.5-66.5-160.5 66.5-66.5 160.5 66.5 160.5 160.5 66.5 160.5-66.5 66.5-160.5zm925 509v-64q0-14-9-23t-23-9h-576q-14 0-23 9t-9 23v64q0 14 9 23t23 9h576q14 0 23-9t9-23zm0-260v-56q0-15-10.5-25.5t-25.5-10.5h-568q-15 0-25.5 10.5t-10.5 25.5v56q0 15 10.5 25.5t25.5 10.5h568q15 0 25.5-10.5t10.5-25.5zm0-252v-64q0-14-9-23t-23-9h-576q-14 0-23 9t-9 23v64q0 14 9 23t23 9h576q14 0 23-9t9-23zm256-320v1216q0 66-47 113t-113 47h-352v-96q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v96h-768v-96q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v96h-352q-66 0-113-47t-47-113v-1216q0-66 47-113t113-47h1728q66 0 113 47t47 113z">
                    </path>
                </svg>
              </span>
              <span class="mx-4 font-normal"><%=routes.dashboard.title%></span>
            </a>
          </li>
        </ul>
      </div>
      <!-- 광고 관리 -->
      <div class="mb-4">
        <p class="font-normal text-slate-300 py-2 border-b border-slate-100">광고 관리</p>
        <ul class="flex flex-col mt-2 gap-2 text-slate-500 dark:text-slate-100">
          <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600">
            <a class="flex items-center justify-start p-2" href="#">
              <span class="text-left">
                <svg width="20" height="20" fill="currentColor" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                    <path fill="currentColor" d="M1070 1178l306-564h-654l-306 564h654zm722-282q0 182-71 348t-191 286-286 191-348 71-348-71-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z">
                    </path>
                </svg>
              </span>
              <span class="mx-4 font-normal">배너 설정</span>
            </a>
          </li>
          <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600">
            <a class="flex items-center justify-start p-2" href="#">
              <span class="text-left">
                <svg width="20" height="20" fill="currentColor" class="m-auto" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                    <path fill="currentColor" d="M960 0l960 384v128h-128q0 26-20.5 45t-48.5 19h-1526q-28 0-48.5-19t-20.5-45h-128v-128zm-704 640h256v768h128v-768h256v768h128v-768h256v768h128v-768h256v768h59q28 0 48.5 19t20.5 45v64h-1664v-64q0-26 20.5-45t48.5-19h59v-768zm1595 960q28 0 48.5 19t20.5 45v128h-1920v-128q0-26 20.5-45t48.5-19h1782z">
                    </path>
                </svg>
              </span>
              <span class="mx-4 font-normal">팝업 설정</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- 게시판 관리 -->
      <div class="mb-4">
        <p class="font-normal text-slate-300 py-2 border-b border-slate-100">게시판 관리</p>
        <ul class="flex flex-col mt-2 gap-2 text-slate-500 dark:text-slate-100">
          <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600">
            <a class="flex items-center justify-start p-2" href="#">
              <span class="text-left">
                <svg width="20" height="20" fill="currentColor" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                    <path fill="currentColor" d="M1070 1178l306-564h-654l-306 564h654zm722-282q0 182-71 348t-191 286-286 191-348 71-348-71-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z">
                    </path>
                </svg>
              </span>
              <span class="mx-4 font-normal">공지사항</span>
            </a>
          </li>
          <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600">
            <a class="flex items-center justify-start p-2" href="#">
              <span class="text-left">
                <svg width="20" height="20" fill="currentColor" class="m-auto" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                    <path fill="currentColor" d="M1024 1131q0-64-9-117.5t-29.5-103-60.5-78-97-28.5q-6 4-30 18t-37.5 21.5-35.5 17.5-43 14.5-42 4.5-42-4.5-43-14.5-35.5-17.5-37.5-21.5-30-18q-57 0-97 28.5t-60.5 78-29.5 103-9 117.5 37 106.5 91 42.5h512q54 0 91-42.5t37-106.5zm-157-520q0-94-66.5-160.5t-160.5-66.5-160.5 66.5-66.5 160.5 66.5 160.5 160.5 66.5 160.5-66.5 66.5-160.5zm925 509v-64q0-14-9-23t-23-9h-576q-14 0-23 9t-9 23v64q0 14 9 23t23 9h576q14 0 23-9t9-23zm0-260v-56q0-15-10.5-25.5t-25.5-10.5h-568q-15 0-25.5 10.5t-10.5 25.5v56q0 15 10.5 25.5t25.5 10.5h568q15 0 25.5-10.5t10.5-25.5zm0-252v-64q0-14-9-23t-23-9h-576q-14 0-23 9t-9 23v64q0 14 9 23t23 9h576q14 0 23-9t9-23zm256-320v1216q0 66-47 113t-113 47h-352v-96q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v96h-768v-96q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v96h-352q-66 0-113-47t-47-113v-1216q0-66 47-113t113-47h1728q66 0 113 47t47 113z">
                    </path>
                </svg>
              </span>
              <span class="mx-4 font-normal">문의</span>
            </a>
          </li>
      </div>
      <!-- 사이트 관리 -->
      <div class="mb-4">
        <p class="font-normal text-slate-300 py-2 border-b border-slate-100">사이트 관리</p>
        <ul class="flex flex-col mt-2 gap-2 text-slate-500 dark:text-slate-100">
          <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600 <%if (routes.employees.title === title) {%>orb-hightlight<% }%>">
            <a class="flex items-center justify-start p-2" href="<%=routes.employees.url%>">
              <span class="text-left">
                <svg width="20" height="20" fill="currentColor" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                    <path fill="currentColor" d="M1070 1178l306-564h-654l-306 564h654zm722-282q0 182-71 348t-191 286-286 191-348 71-348-71-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z">
                    </path>
                </svg>
              </span>
              <span class="mx-4 font-normal"><%=routes.employees.title%></span>
            </a>
          </li>
          <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600 <%if (routes.permissions.title === title) {%>orb-hightlight<% }%>">
            <a class="flex items-center justify-start p-2" href="<%=routes.permissions.url%>">
              <span class="text-left">
                <svg width="20" height="20" fill="currentColor" class="m-auto" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                    <path fill="currentColor" d="M685 483q16 0 27.5-11.5t11.5-27.5-11.5-27.5-27.5-11.5-27 11.5-11 27.5 11 27.5 27 11.5zm422 0q16 0 27-11.5t11-27.5-11-27.5-27-11.5-27.5 11.5-11.5 27.5 11.5 27.5 27.5 11.5zm-812 184q42 0 72 30t30 72v430q0 43-29.5 73t-72.5 30-73-30-30-73v-430q0-42 30-72t73-30zm1060 19v666q0 46-32 78t-77 32h-75v227q0 43-30 73t-73 30-73-30-30-73v-227h-138v227q0 43-30 73t-73 30q-42 0-72-30t-30-73l-1-227h-74q-46 0-78-32t-32-78v-666h918zm-232-405q107 55 171 153.5t64 215.5h-925q0-117 64-215.5t172-153.5l-71-131q-7-13 5-20 13-6 20 6l72 132q95-42 201-42t201 42l72-132q7-12 20-6 12 7 5 20zm477 488v430q0 43-30 73t-73 30q-42 0-72-30t-30-73v-430q0-43 30-72.5t72-29.5q43 0 73 29.5t30 72.5z">
                    </path>
                </svg>
              </span>
              <span class="mx-4 font-normal"><%=routes.permissions.title%></span>
            </a>
          </li>
      </div>
    </nav>
  </div>
  <!-- 로그아웃 -->
  <div>
    <ul class="flex flex-col mt-2 gap-2 text-red-500 dark:text-red-500">
      <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-red-300 dark:hover:bg-red-300 <%if (routes.employeesLogout.title === title) {%>orb-hightlight-error<% }%>"">
        <a class="flex items-center justify-start p-2" href="<%=routes.employeesLogout.url%>">
          <span class="text-left">
            <svg width="1.5em" height="1.5em" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor" class="h-[18px] w-[18px]">
              <path d="M12 12H19M19 12L16 15M19 12L16 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M19 6V5C19 3.89543 18.1046 3 17 3H7C5.89543 3 5 3.89543 5 5V19C5 20.1046 5.89543 21 7 21H17C18.1046 21 19 20.1046 19 19V18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>
          <span class="mx-4 font-normal"><%=routes.employeesLogout.title%></span>
        </a>    
      </li>
    </ul>
  </div>
</div>

<!-- 사이드바 MOBILE -->
<div
  id="sidebar-mobile"
  class="fixed flex flex-col justify-between w-64 inset-y-0 right-0 p-4 z-50 bg-white shadow-md transform translate-x-full transition-transform duration-300 ease-in-out lg:hidden"
>
  <!-- 메뉴 -->
  <nav>
    <!-- 닫기 버튼 -->
    <div class="text-right mx-4 mt-4 mb-8">
      <button id="menu-close" class="orb-btn-close">
        Close
      </button>
    </div>
    <div class="mb-4">
      <ul class="flex flex-col mt-2 gap-2 text-slate-500 dark:text-slate-100">
        <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600 <%if (routes.dashboard.title === title) {%>orb-hightlight<% }%>">
          <a class="flex items-center justify-start p-2" href="<%=routes.dashboard.url%>">
            <span class="text-left">
              <svg width="20" height="20" fill="currentColor" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M1024 1131q0-64-9-117.5t-29.5-103-60.5-78-97-28.5q-6 4-30 18t-37.5 21.5-35.5 17.5-43 14.5-42 4.5-42-4.5-43-14.5-35.5-17.5-37.5-21.5-30-18q-57 0-97 28.5t-60.5 78-29.5 103-9 117.5 37 106.5 91 42.5h512q54 0 91-42.5t37-106.5zm-157-520q0-94-66.5-160.5t-160.5-66.5-160.5 66.5-66.5 160.5 66.5 160.5 160.5 66.5 160.5-66.5 66.5-160.5zm925 509v-64q0-14-9-23t-23-9h-576q-14 0-23 9t-9 23v64q0 14 9 23t23 9h576q14 0 23-9t9-23zm0-260v-56q0-15-10.5-25.5t-25.5-10.5h-568q-15 0-25.5 10.5t-10.5 25.5v56q0 15 10.5 25.5t25.5 10.5h568q15 0 25.5-10.5t10.5-25.5zm0-252v-64q0-14-9-23t-23-9h-576q-14 0-23 9t-9 23v64q0 14 9 23t23 9h576q14 0 23-9t9-23zm256-320v1216q0 66-47 113t-113 47h-352v-96q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v96h-768v-96q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v96h-352q-66 0-113-47t-47-113v-1216q0-66 47-113t113-47h1728q66 0 113 47t47 113z">
                  </path>
              </svg>
            </span>
            <span class="mx-4 font-normal"><%=routes.dashboard.title%></span>
          </a>
        </li>
      </ul>
    </div>
    <!-- 광고 관리 -->
    <div class="mb-4">
      <p class="font-normal text-slate-300 py-2 border-b border-slate-100">광고 관리</p>
      <ul class="flex flex-col mt-2 gap-2 text-slate-500 dark:text-slate-100">
        <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600">
          <a class="flex items-center justify-start p-2" href="#">
            <span class="text-left">
              <svg width="20" height="20" fill="currentColor" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M1070 1178l306-564h-654l-306 564h654zm722-282q0 182-71 348t-191 286-286 191-348 71-348-71-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z">
                  </path>
              </svg>
            </span>
            <span class="mx-4 font-normal">배너 설정</span>
          </a>
        </li>
        <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600">
          <a class="flex items-center justify-start p-2" href="#">
            <span class="text-left">
              <svg width="20" height="20" fill="currentColor" class="m-auto" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M960 0l960 384v128h-128q0 26-20.5 45t-48.5 19h-1526q-28 0-48.5-19t-20.5-45h-128v-128zm-704 640h256v768h128v-768h256v768h128v-768h256v768h128v-768h256v768h59q28 0 48.5 19t20.5 45v64h-1664v-64q0-26 20.5-45t48.5-19h59v-768zm1595 960q28 0 48.5 19t20.5 45v128h-1920v-128q0-26 20.5-45t48.5-19h1782z">
                  </path>
              </svg>
            </span>
            <span class="mx-4 font-normal">팝업 설정</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- 게시판 관리 -->
    <div class="mb-4">
      <p class="font-normal text-slate-300 py-2 border-b border-slate-100">게시판 관리</p>
      <ul class="flex flex-col mt-2 gap-2 text-slate-500 dark:text-slate-100">
        <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600">
          <a class="flex items-center justify-start p-2" href="#">
            <span class="text-left">
              <svg width="20" height="20" fill="currentColor" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M1070 1178l306-564h-654l-306 564h654zm722-282q0 182-71 348t-191 286-286 191-348 71-348-71-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z">
                  </path>
              </svg>
            </span>
            <span class="mx-4 font-normal">공지사항</span>
          </a>
        </li>
        <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600">
          <a class="flex items-center justify-start p-2" href="#">
            <span class="text-left">
              <svg width="20" height="20" fill="currentColor" class="m-auto" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M1024 1131q0-64-9-117.5t-29.5-103-60.5-78-97-28.5q-6 4-30 18t-37.5 21.5-35.5 17.5-43 14.5-42 4.5-42-4.5-43-14.5-35.5-17.5-37.5-21.5-30-18q-57 0-97 28.5t-60.5 78-29.5 103-9 117.5 37 106.5 91 42.5h512q54 0 91-42.5t37-106.5zm-157-520q0-94-66.5-160.5t-160.5-66.5-160.5 66.5-66.5 160.5 66.5 160.5 160.5 66.5 160.5-66.5 66.5-160.5zm925 509v-64q0-14-9-23t-23-9h-576q-14 0-23 9t-9 23v64q0 14 9 23t23 9h576q14 0 23-9t9-23zm0-260v-56q0-15-10.5-25.5t-25.5-10.5h-568q-15 0-25.5 10.5t-10.5 25.5v56q0 15 10.5 25.5t25.5 10.5h568q15 0 25.5-10.5t10.5-25.5zm0-252v-64q0-14-9-23t-23-9h-576q-14 0-23 9t-9 23v64q0 14 9 23t23 9h576q14 0 23-9t9-23zm256-320v1216q0 66-47 113t-113 47h-352v-96q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v96h-768v-96q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v96h-352q-66 0-113-47t-47-113v-1216q0-66 47-113t113-47h1728q66 0 113 47t47 113z">
                  </path>
              </svg>
            </span>
            <span class="mx-4 font-normal">문의</span>
          </a>
        </li>
    </div>
    <!-- 사이트 관리 -->
    <div class="mb-4">
      <p class="font-normal text-slate-300 py-2 border-b border-slate-100">사이트 관리</p>
      <ul class="flex flex-col mt-2 gap-2 text-slate-500 dark:text-slate-100">
        <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600 <%if (routes.employees.title === title) {%>orb-hightlight<% }%>">
          <a class="flex items-center justify-start p-2" href="<%=routes.employees.url%>">
            <span class="text-left">
              <svg width="20" height="20" fill="currentColor" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M1070 1178l306-564h-654l-306 564h654zm722-282q0 182-71 348t-191 286-286 191-348 71-348-71-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z">
                  </path>
              </svg>
            </span>
            <span class="mx-4 font-normal"><%=routes.employees.title%></span>
          </a>
        </li>
        <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-blue-500 dark:hover:bg-gray-600 <%if (routes.permissions.title === title) {%>orb-hightlight<% }%>">
          <a class="flex items-center justify-start p-2" href="<%=routes.permissions.url%>">
            <span class="text-left">
              <svg width="20" height="20" fill="currentColor" class="m-auto" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M685 483q16 0 27.5-11.5t11.5-27.5-11.5-27.5-27.5-11.5-27 11.5-11 27.5 11 27.5 27 11.5zm422 0q16 0 27-11.5t11-27.5-11-27.5-27-11.5-27.5 11.5-11.5 27.5 11.5 27.5 27.5 11.5zm-812 184q42 0 72 30t30 72v430q0 43-29.5 73t-72.5 30-73-30-30-73v-430q0-42 30-72t73-30zm1060 19v666q0 46-32 78t-77 32h-75v227q0 43-30 73t-73 30-73-30-30-73v-227h-138v227q0 43-30 73t-73 30q-42 0-72-30t-30-73l-1-227h-74q-46 0-78-32t-32-78v-666h918zm-232-405q107 55 171 153.5t64 215.5h-925q0-117 64-215.5t172-153.5l-71-131q-7-13 5-20 13-6 20 6l72 132q95-42 201-42t201 42l72-132q7-12 20-6 12 7 5 20zm477 488v430q0 43-30 73t-73 30q-42 0-72-30t-30-73v-430q0-43 30-72.5t72-29.5q43 0 73 29.5t30 72.5z">
                  </path>
              </svg>
            </span>
            <span class="mx-4 font-normal"><%=routes.permissions.title%></span>
          </a>
        </li>
    </div>
  </nav>
  <div>
    <ul class="flex flex-col mt-2 gap-2 text-red-500 dark:text-red-500">
      <li class="font-thin rounded-lg transition-all duration-300 hover:text-white dark:hover:text-white hover:bg-red-300 dark:hover:bg-red-300 <%if (routes.employeesLogout.title === title) {%>orb-hightlight-error<% }%>">
        <a class="flex items-center justify-start p-2" href="<%=routes.employeesLogout.url%>">
          <span class="text-left">
            <svg width="1.5em" height="1.5em" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor" class="h-[18px] w-[18px]">
              <path d="M12 12H19M19 12L16 15M19 12L16 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M19 6V5C19 3.89543 18.1046 3 17 3H7C5.89543 3 5 3.89543 5 5V19C5 20.1046 5.89543 21 7 21H17C18.1046 21 19 20.1046 19 19V18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>
          <span class="mx-4 font-normal">
            <%=routes.employeesLogout.title%>
          </span>
        </a>    
      </li>
    </ul>
  </div>
</div>

<script>
  // Mobile menu toggle logic
  const menuToggle = document.getElementById('menu-toggle');
  const sidebarMobile = document.getElementById('sidebar-mobile');
  const closeMenu = document.getElementById('menu-close');
  
  menuToggle.addEventListener('click', () => {
    sidebarMobile.classList.toggle('translate-x-full');
  });

  closeMenu.addEventListener('click', () => {
    sidebarMobile.classList.add('translate-x-full');
  });
</script>
