<div class="block pt-2 mb-2">
  <h1 class='flex justify-self-start items-center gap-1.5 py-2 text-center text-slate-700 transition-all'>
    <span class="font-bold text-xl"><%=title%></span>
  </h1>
</div>
<div class="space-y-4 text-sm bg-white p-4 mb-4 lg:p-6 rounded-xl shadow-[0_2px_30px_rgba(0,0,0,.06)]">
  <div class="flex flex-col justify-center items-center py-2 gap-4">
    <p class="text-center">
      관리자 계정 <span class="font-bold text-red-500"><%=data.email%></span>을(를)<br/>
      정말 삭제하시겠습니까?
    </p>
    <div class="flex justify-center items-center gap-4">
      <button id="btn-delete" class="px-4 py-2 text-white bg-red-500 rounded-lg cursor-pointer">삭제</button>
      <button id="btn-cancel" class="px-4 py-2 text-white bg-gray-500 rounded-lg cursor-pointer" onclick="window.history.back()">취소</button>
    </div>
  </div>
</div>

<script>
  const btnDelete = document.getElementById('btn-delete');
  btnDelete.addEventListener('click', async (e) => {
    e.preventDefault();

    try {
      // 직원 삭제 API 호출
      const apiUrl = '<%=apiBackendRoutes.employeesDelete.url%>'.replace(':employeeId', '<%=data.id%>');
      const response = await fetch(apiUrl, {
          method: 'DELETE',
          headers: {
              'Content-Type': 'application/json'
          },
      });

      // 응답 오류
      if (!response.ok) {
        const errorData = await response.json();
        throw new Error(errorData.message || response.statusText);
      }

      // 응답 성공
      alert('<%=apiBackendRoutes.employeesDelete.title%> 성공');
      window.location.href = '<%=routes.employees.url%>';
      
    } catch (err) {
      alert(error.message || '서버 오류가 발생했습니다.');

    }
  });
</script>