<div class="block pt-2 mb-2">
  <h1 class='flex justify-self-start items-center gap-1.5 py-2 text-center text-slate-700 transition-all'>
    <span class="font-bold text-xl"><%=title%></span>
  </h1>
</div>
<div id="adminDetails">
  <div class="space-y-3 text-sm bg-white p-4 mb-4 lg:p-6 rounded-xl shadow-[0_2px_30px_0_rgba(0,0,0,.06)]">
    <!-- Email -->
    <div class="flex items-center">
      <label class="block w-28 text-[13px] font-medium text-gray-400">이메일</label>
      <p class="text-gray-800"><%=data.email%></p>
    </div>

    <!-- Name -->
    <div class="flex items-center">
      <label class="block w-28 text-[13px] font-medium text-gray-400">이름</label>
      <p class="text-gray-800"><%=data.name%></p>
    </div>

    <!-- Position -->
    <div class="flex items-center">
      <label class="block w-28 text-[13px] font-medium text-gray-400">직급</label>
      <p class="text-gray-800"><%=data.position || '없음'%></p>
    </div>

    <!-- Phone -->
    <div class="flex" items-center>
      <label class="block w-28 text-[13px] font-medium text-gray-400">전화번호</label>
      <p class="text-gray-800"><%=data.phone%></p>
    </div>

    <!-- Address -->
    <div class="flex items-center">
      <label class="block w-28 text-[13px] font-medium text-gray-400">주소</label>
      <p class="text-gay-800"><%=data.address%></p>
    </div>
  </div>
  <div class="mb-2">
    <h1 class='flex justify-self-start items-center gap-1.5 py-2 text-center text-slate-700 transition-all'>
      <span class="font-bold text-xl">관리자 권한 정보</span>
    </h1>
  </div>
  <div class="space-y-3 text-sm bg-white p-4 mb-4 lg:p-6 rounded-xl shadow-[0_2px_30px_0_rgba(0,0,0,.06)]">
    <!-- permissions -->
    <table class="table-auto min-w-full">
      <thead>
        <tr>
          <% metadata.permissions.forEach((permission, index) => { %>
            <th class="hidden lg:table-cell text-center w-32 min-w-32 px-4 py-3 bg-gray-100 border-t border-b border-gray-200">
              <p class="text-xs lg:text-[13px] font-normal leading-none text-gray-500"><%=permission.title%></p>
            </th>
          <% }); %>
        </tr>
        </thead>
        <tbody>
          <tr class="border-b border-gray-200">
            <% metadata.permissions.forEach((permission, index) => { %>
              <td class="px-4 py-3 text-center">
                <input 
                  type="checkbox" 
                  name="permission" 
                  class="text-blue-500 border border-gray-300 focus:outline-none pointer-events-none"
                  value="<%=permission.id%>"
                  <%= data.permissions.includes(permission.id) ? 'checked' : '' %>
                  tab-index="-1"
                  readonly
                >
              </td>
            <% }); %>
          </tr>
        </tbody>
    </table>
  </div>
</div>

<!-- Action Buttons -->
<div class="flex flex-col lg:flex-row flex-wrap items-center justify-between gap-1">
  <div class="flex flex-col lg:flex-row items-center gap-1 w-full lg:w-auto">
    <a href="<%=routes.employees.update.url.replace(':employeeId', data.id)%>" class="block orb-btn-secondary">
      정보 수정
    </a>
    <a href="<%=routes.employees.updatePassword.url.replace(':employeeId', data.id)%>" class="orb-btn-secondary">
      비밀번호 변경
    </a>
    <a href="<%=routes.employees.permissions.url.replace(':employeeId', data.id)%>" class="orb-btn-secondary">
      권한 수정
    </a>
  </div>
  <div class="flex w-full lg:w-auto">
    <a href="<%=routes.employees.delete.url.replace(':employeeId', data.id)%>" class="orb-btn-delete">
      삭제
    </a>
  </div>
</div>