<div class="my-2">
  <h1 class='flex justify-self-start items-center gap-1.5 py-2 text-center text-slate-700 transition-all'>
    <span class="text-2xl font-semibold"><%=title%></span>
  </h1>
</div>
<div id="adminDetails">
  <div class="space-y-4 text-sm bg-white p-4 mb-4 lg:p-6 rounded-xl shadow-[0_2px_30px_0_rgba(0,0,0,.06)]">
    <!-- Email -->
    <div class="flex items-center">
      <label class="block w-28 orb-label">이메일</label>
      <p class="text-gray-800 font-semibold"><%=data.email%></p>
    </div>

    <!-- Name -->
    <div class="flex items-center">
      <label class="block w-28 orb-label">이름</label>
      <p class="text-gray-800"><%=data.name%></p>
    </div>

    <!-- Position -->
    <div class="flex items-center">
      <label class="block w-28 orb-label">직급</label>
      <p class="text-gray-800"><%=data.position || '없음'%></p>
    </div>

    <!-- Phone -->
    <div class="flex" items-center>
      <label class="block w-28 orb-label">전화번호</label>
      <p class="text-gray-800"><%=data.phone%></p>
    </div>

    <!-- Address -->
    <div class="flex items-center">
      <label class="block w-28 orb-label">주소</label>
      <p class="text-gay-800"><%=data.address%></p>
    </div>

    <!-- Last Login -->
    <div class="flex items-center">
      <label class="block w-28 orb-label">마지막 로그인</label>
      <p class="text-gray-800"><%=data.lastLoginAt ?? '-' %></p>
    </div>

    <!-- Created At -->
    <div class="flex items-center">
      <label class="block w-28 orb-label">생성일</label>
      <p class="text-gray-800"><%=data.createdAt%></p>
    </div>
    
  </div>
  <div class="mb-2">
    <h1 class='flex justify-self-start items-center gap-1.5 py-2 text-center text-slate-700 transition-all'>
      <span class="text-2xl font-semibold">관리자 권한 정보</span>
    </h1>
  </div>
  <div class="space-y-3 text-sm bg-white p-4 mb-4 lg:p-6 rounded-xl shadow-[0_2px_30px_0_rgba(0,0,0,.06)]">
    <!-- permissions -->
     <div class="overflow-x-auto w-full">
       <table class="table-auto min-w-full">
         <thead>
           <tr>
             <% metadata.permissions.forEach((permission, index) => { %>
               <th class="text-center w-32 min-w-32 px-4 py-3 bg-gray-100 border-t border-b border-border-2">
                 <p class="text-xs lg:text-[13px] font-normal leading-none text-gray-500"><%=permission.title%></p>
               </th>
             <% }); %>
           </tr>
           </thead>
           <tbody>
             <tr class="border-b border-border-2">
               <% metadata.permissions.forEach((permission, index) => { %>
                 <td class="px-4 py-3 text-center">
                   <input 
                     type="checkbox" 
                     name="permission" 
                     class="text-blue-500 border border-gray-300 focus:outline-none pointer-events-none"
                     value="<%=permission.id%>"
                     <%= data.permissions.includes(permission.id) ? 'checked' : '' %>
                     tab-index="-1"
                     readonly
                   >
                 </td>
               <% }); %>
             </tr>
           </tbody>
       </table>
     </div>
  </div>
</div>

<!-- Action Buttons -->
<div class="flex flex-col lg:flex-row justify-between gap-1">
  <div class="flex flex-col lg:flex-row lg:items-center gap-1 w-full lg:w-auto">
    <a href="<%=backendRoutes.employees.update.url.replace(':employeeId', data.id)%>" class="block orb-btn orb-btn-secondary">
      정보 수정
    </a>
    <a href="<%=backendRoutes.employees.updatePassword.url.replace(':employeeId', data.id)%>" class="orb-btn orb-btn-secondary">
      비밀번호 변경
    </a>
    <a href="<%=backendRoutes.employees.permissions.url.replace(':employeeId', data.id)%>" class="orb-btn orb-btn-secondary">
      권한 변경
    </a>
  </div>
  <div class="w-full lg:w-auto">
    <a href="<%=backendRoutes.employees.delete.url.replace(':employeeId', data.id)%>" class="orb-btn orb-btn-delete">
      삭제
    </a>
  </div>
</div>