<div class="block pt-2 mb-2">
  <h1 class='flex justify-self-start items-center gap-1.5 py-2 text-center text-slate-700 transition-all'>
    <span class="font-bold text-xl"><%=title%></span>
  </h1>
</div>
<div id="adminDetails">
  <div class="space-y-3 text-sm bg-white p-4 mb-4 lg:p-6 rounded-xl shadow-[0_2px_30px_0_rgba(0,0,0,.06)]">
    <!-- Email -->
    <div class="flex">
      <label class="block w-28 text-gray-500 font-semibold">이메일</label>
      <p class="text-gray-800 font-semibold"><%=data.email%></p>
    </div>

    <!-- Name -->
    <div class="flex">
      <label class="block w-28 text-gray-500 font-semibold">이름</label>
      <p class="text-gray-800 font-semibold"><%=data.name%></p>
    </div>

    <!-- Position -->
    <div class="flex">
      <label class="block w-28 text-gray-500 font-semibold">직급</label>
      <p class="text-gray-800"><%=data.position || '없음'%></p>
    </div>

    <!-- Phone -->
    <div class="flex">
      <label class="block w-28 text-gray-500 font-semibold">전화번호</label>
      <p class="text-gray-800"><%=data.phone%></p>
    </div>

    <!-- Address -->
    <div class="flex">
      <label class="block w-28 text-gray-500 font-semibold">주소</label>
      <p class="text-gay-800"><%=data.address%></p>
    </div>
  </div>
  <div class="mb-2">
    <h1 class='flex justify-self-start items-center gap-1.5 py-2 text-center text-slate-700 transition-all'>
      <span class="font-bold text-xl">관리자 권한 정보</span>
    </h1>
  </div>
  <div class="space-y-3 text-sm bg-white p-4 mb-4 lg:p-6 rounded-xl shadow-[0_2px_30px_0_rgba(0,0,0,.06)]">
    <!-- permissions -->
    <table class="table-auto min-w-full">
      <thead>
        <tr>
          <th class="hidden lg:table-cell text-center w-32 min-w-32 px-4 py-3 bg-gray-100 border-t border-b border-gray-200">
            <p class="text-xs lg:text-[13px] font-semibold leading-none text-gray-500">최고 관리자</p>
          </th>
          <th class="hidden lg:table-cell text-center w-32 min-w-32 px-4 py-3 bg-gray-100 border-t border-b border-gray-200">
            <p class="text-xs lg:text-[13px] font-semibold leading-none text-gray-500">직원 관리자</p>
          </th>
          <th class="hidden lg:table-cell text-center w-32 min-w-32 px-4 py-3 bg-gray-100 border-t border-b border-gray-200">
            <p class="text-xs lg:text-[13px] font-semibold leading-none text-gray-500">권한 관리자</p>
          </th>
          <th class="hidden lg:table-cell text-center w-32 min-w-32 px-4 py-3 bg-gray-100 border-t border-b border-gray-200">
            <p class="text-xs lg:text-[13px] font-semibold leading-none text-gray-500">게시판 관리자</p>
          </th>
          <th class="hidden lg:table-cell text-center w-32 min-w-32 px-4 py-3 bg-gray-100 border-t border-b border-gray-200">
            <p class="text-xs lg:text-[13px] font-semibold leading-none text-gray-500">광고 관리자</p>
          </th>
          <th class="hidden lg:table-cell text-center w-32 min-w-32 px-4 py-3 bg-gray-100 border-t border-b border-gray-200">
            <p class="text-xs lg:text-[13px] font-semibold leading-none text-gray-500">통계 관리자</p>
          </th>
        </tr>
        </thead>
        <tbody>
          <tr class="border-b border-gray-200">
          <% Array.from({length: 6}).forEach((_, index) => { %>
            <td class="px-4 py-3 text-center">
              <input 
                type="checkbox" 
                name="permission" 
                class="text-blue-500 border border-gray-300 focus:outline-none pointer-events-none"
                value="<%=index + 1%>"
                <% data.permissions.forEach(permission => { %>
                  <%if (permission === index + 1) {%>checked<%}%>
                <% }); %>
                tab-index="-1"
                readonly
              >
            </td>
          <% }); %>
          </tr>
        </tbody>
    </table>
    <!-- <div class="flex">
      <label class="block w-32 flex-none text-gray-500 font-semibold">권한 범위</label>
      <ul class="flex flex-wrap gap-1">
        <% data.permissions.forEach(permission => { %>
          <li class="rounded-full px-3 py-1 text-[13px] bg-blue-50 text-blue-500">
            <%if (permission === 1) {%>최고 관리자
            <%} else if (permission === 2) {%>직원 관리
            <%} else if (permission === 3) {%>권한 관리
            <%} else if (permission === 4) {%>게시판 관리
            <%} else if (permission === 5) {%>광고 관리
            <%} else if (permission === 6) {%>통계 관리
            <%}%>
          </li>
        <% }) %>
      </ul>
    </div> -->
  </div>
</div>

<!-- Action Buttons -->
<div class="flex flex-col lg:flex-row flex-wrap items-center justify-between gap-1">
  <div class="flex flex-col lg:flex-row items-center gap-1 w-full lg:w-auto">
    <a href="<%=routes.employees.update.url.replace(':employeeId', data.id)%>" class="block orb-btn-secondary">
      정보 수정
    </a>
    <a href="<%=routes.employees.updatePassword.url.replace(':employeeId', data.id)%>" class="orb-btn-secondary">
      비밀번호 변경
    </a>
    <a href="<%=routes.employees.permissions.url.replace(':employeeId', data.id)%>" class="orb-btn-secondary">
      권한 수정
    </a>
  </div>
  <div class="flex w-full lg:w-auto">
    <a href="<%=routes.employees.delete.url.replace(':employeeId', data.id)%>" class="orb-btn-delete">
      삭제
    </a>
  </div>
</div>