<div class="flex h-full w-full flex-grow items-center justify-center">
  <div class="w-[500px] rounded-2xl bg-white p-6 lg:p-10 shadow-[0_2px_30px_0_rgba(0,0,0,.06)]">
    <div class="mb-2 flex items-center justify-center gap-1.5 py-4">
      <span class="text-slate-700">
        <% if (settings.logo) { %>
          <img src="<%=settings.logo%>" alt="<%=settings.companyInfo.name%>" class="h-8 w-8" />
        <% } %>
      </span>
      <span class="text-3xl font-bold text-slate-700"><%=settings.companyInfo.name.toUpperCase()%></span>
    </div>
    <form id="formAdminLogin">
      <div class="mb-4">
        <label for="email" class="block flex-none mb-2 text-[13px] text-gray-500">이메일</label>
        <input
          type="email"
          id="email"
          name="email"
          required
          class="w-full px-4 py-3 bg-gray-100 placeholder:text-sm placeholder:text-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-200"
          placeholder="이메일 주소를 입력하세요"
        />
      </div>
      <div class="mb-6">
        <label for="password" class="block flex-none mb-2 text-[13px] text-gray-500">비밀번호</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          class="w-full px-4 py-3 bg-gray-100 placeholder:text-sm placeholder:text-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-200"
          placeholder="비밀번호를 입력하세요"
        />
      </div>
      <% if (metadata.recaptchaSiteKey) { %>
        <div class="mb-6 flex justify-center">
          <div class="g-recaptcha" data-sitekey="<%=metadata.recaptchaSiteKey%>"></div>
        </div>
      <% } %>
      <button
        type="submit"
        class="orb-btn orb-btn-primary w-full h-[56px] text-base"
        <% if (!metadata.recaptchaSiteKey) { %>
          disabled
        <% } %>
      >
        로그인
      </button>
    </form>
    <div class="mt-4 text-center">
      <a href="<%=backendRoutes.employees.forgotPassword.url%>" class="text-sm text-blue-500 hover:underline"
        >비밀번호를 잊으셨나요?</a
      >
    </div>
  </div>
</div>

<script src="https://www.google.com/recaptcha/api.js" defer></script>
<script nonce="<%=nonce%>">
  document.addEventListener('DOMContentLoaded', () => {
    if ('<%=metadata.recaptchaSiteKey%>' !== '') {
      document.getElementById('formAdminLogin').addEventListener('submit', async (e) => {
        e.preventDefault();

        const data = {};
        
        // reCAPTCHA 토큰 추가
        const recaptchaResponse = grecaptcha.getResponse();
        if (!recaptchaResponse) {
          alert('보안을 위해 "로봇이 아닙니다" 확인을 해주세요.');
          return;
        }
        data.recaptchaToken = recaptchaResponse;

        // 폼 데이터 수집
        const formData = new FormData(e.target);
        // 폼 데이터 변환
        formData.forEach((value, key) => {
          data[key] = value;
        });

        try {
          // 로그인 API 호출
          const response = await fetch('<%=apiRoutes.employees.login.url%>', {
            method: '<%=apiRoutes.employees.login.method%>',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
          });

          // 응답 오류
          if (!response.ok) {
            const errorData = await response.json();
            throw new Error(errorData.message || response.statusText);
          }

          // 응답 성공
          alert('로그인 성공');
          window.location.href = '<%=backendRoutes.index.url%>';
        } catch (error) {
          alert(error.message || '서버 오류가 발생했습니다.');
          grecaptcha.reset();
        }
      });
    } else {
      alert('일시적인 오류가 발생했습니다. 잠시 후 다시 시도해주세요.');
    }
  });
</script>
