<div class="flex h-full w-full flex-grow items-center justify-center">
  <div class="w-[500px] rounded-2xl bg-default-bg p-6 lg:p-10 shadow-[0_2px_30px_0_rgba(0,0,0,.06)]">
    <div class="mb-2 flex items-center justify-center gap-2 py-4">
      <% if (settings.favicon) { %>
        <span class="text-slate-700">
          <img src="<%=settings.favicon%>" alt="<%=settings.companyInfo.name%>" class="h-[30px] w-[30px] object-contain" />
        </span>
      <% } %>
      <span class="text-3xl font-bold text-slate-700"><%=settings.companyInfo.name.toUpperCase()%></span>
    </div>
    <form id="formAdminLogin">
      <div class="mb-4">
        <label for="email" class="block mb-2 orb-label">이메일</label>
        <input
          type="email"
          id="email"
          name="email"
          autocomplete="username"
          required
          class="orb-input"
          placeholder="이메일 주소를 입력하세요"
        />
      </div>
      <div class="mb-6">
        <label for="password" class="block mb-2 orb-label">비밀번호</label>
        <input
          type="password"
          id="password"
          name="password"
          autocomplete="current-password"
          required
          class="orb-input"
          placeholder="비밀번호를 입력하세요"
        />
      </div>
      <% if (metadata.recaptchaSiteKey) { %>
        <div class="mb-6">
          <div class="g-recaptcha" data-sitekey="<%=metadata.recaptchaSiteKey%>"></div>
        </div>
      <% } %>
      <button type="submit" class="orb-btn orb-btn-success w-full h-[56px] text-base"<% if (!metadata.recaptchaSiteKey) { %> disabled<% } %>>로그인</button>
    </form>
    <div class="mt-4">
      <a href="<%=backendRoutes.employees.forgotPassword.url%>" class="text-sm text-gray-500 hover:underline"
        >비밀번호를 잊으셨나요?</a
      >
    </div>
  </div>
</div>

<!-- recaptcha -->
<%- include('../common/library/recaptcha') %>

<script nonce="<%=nonce%>">
  document.addEventListener('DOMContentLoaded', () => {
    if ('<%=metadata.recaptchaSiteKey%>' !== '') {
      document.getElementById('formAdminLogin').addEventListener('submit', async (e) => {
        e.preventDefault();

        const data = {};

        // reCAPTCHA
        try {
          const recaptchaResponse = grecaptcha.getResponse();
          if (!recaptchaResponse) {
            throw new Error('보안을 위해 "로봇이 아닙니다" 확인을 해주세요.');
            return;
          }
          data.recaptchaToken = recaptchaResponse;

          // 폼 데이터 수집
          const formData = new FormData(e.target);
          // 폼 데이터 변환
          formData.forEach((value, key) => {
            data[key] = value;
          });
        } catch (error) {
          toastMessage('error', error.message || '오류가 발생했습니다.');
          grecaptcha.reset();
          return;
        }

        try {
          // 로그인 API 호출
          const response = await fetchApi(
            '<%=apiRoutes.employees.login.method%>',
            '<%=apiRoutes.employees.login.url%>',
            {
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify(data),
            }
          );

          // 응답 오류
          if (!response.result) {
            throw new Error(response.message);
          }

          // 응답 데이터 확인
          const accountName = response.data.name;

          // 응답 성공
          alertMessage('success', `${accountName}님 로그인 되었습니다.`, '로그인').then(() => {
            window.location.href = '<%=backendRoutes.index.url%>';
          });
        } catch (error) {
          toastMessage('error', error.message || '서버 오류가 발생했습니다.');
          grecaptcha.reset();
        }
      });
    } else {
      toastMessage('error', '일시적인 오류가 발생했습니다. 잠시 후 다시 시도해주세요.');
    }
  });
</script>
