<div class="max-w-[1024px] h-full bg-white p-2 lg:p-4 rounded-2xl shadow-md">
  <div class="block mb-4 mx-auto border-b border-slate-300 pb-2 max-w-[360px]">
    <h1 class='flex justify-center items-center gap-1.5 px-4 py-2 text-center text-slate-700 transition-all'>
      <span class="font-bold"><%=title%></span>
    </h1>
  </div>
  <form id="formEmployeePermissions" class="space-y-4 text-sm">
    <ul>
      <% data.permissions.forEach((permission, index) => { %>
        <li>
          <input 
            type="checkbox" 
            id="permission<%=index%>" 
            name="permission" 
            class="w-4 h-4 text-blue-500 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" 
            value="<%=permission.id%>" 
            <%= data.grantedByEmployee.permissions.includes(permission.id) ? 'checked' : '' %>
          >
          <label for="permission<%=index%>" class="text-gray-700"><%=permission.title%></label>
        </li>
      <% }); %>
    </ul>
    <div class="text-right">
      <button type="submit" class="w-full lg:w-auto mt-4 px-4 py-4 lg:py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
        저장
      </button>
    </div>
  </form>
</div>

<script>
  document.getElementById('formEmployeePermissions').addEventListener('submit', async function(event) {
    event.preventDefault();

    const permissions = Array.from(document.querySelectorAll('input[name="permission"]:checked')).map(checkbox => checkbox.value);

    const data = {
      permissions
    };

    try {
      // 권한 부여 API 호출
      const apiUrl = '<%=apiBackendRoutes.employeesPermissions.url%>'.replace(':employeeId', '<%=data.employeeId%>');
      const response = await fetch(apiUrl, {
        method: '<%=apiBackendRoutes.employeesPermissions.method%>',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      });

      // 응답 오류
      if (!response.ok) {
        const errorData = await response.json();
        throw new Error(errorData.message || response.statusText);
      }
      
      // 응답 성공
      alert('<%=apiBackendRoutes.employeesPermissions.title%> 성공');
      
    } catch (err) {
      alert(error.message || '서버 오류가 발생했습니다.');
        
    }
  });
</script>