<div class="my-2">
  <h1 class="flex items-baseline justify-between gap-1.5 py-2 text-center text-slate-700 transition-all">
    <span class="text-2xl font-semibold"><%=title%></span>
    <p class="text-right text-[13px] text-gray-500">
      <span class="pr-0.5 text-red-500">*</span>필수입력사항
    </p>
  </h1>
</div>
<form id="formEmployeeRegister">
  <div class="mb-4 space-y-4 rounded-xl bg-white p-4 text-sm text-gray-800 shadow-[0_2px_30px_rgba(0,0,0,.06)] lg:p-6">
    <div>
      <label for="email" class="mb-2 block flex-none text-[13px] text-gray-500">이메일<span class="pl-0.5 text-red-500">*</span></label>
      <input
        type="email"
        id="email"
        name="email"
        class="w-full rounded-lg bg-gray-100 px-4 py-3 placeholder:text-sm placeholder:text-gray-400 focus:ring-2 focus:ring-blue-200 focus:outline-none"
        placeholder="이메일을 입력해주세요."
        required
      />
    </div>

    <div>
      <label for="name" class="mb-2 block flex-none text-[13px] text-gray-500">이름<span class="pl-0.5 text-red-500">*</span></label>
      <input
        type="text"
        id="name"
        name="name"
        class="w-full rounded-lg bg-gray-100 px-4 py-3 placeholder:text-sm placeholder:text-gray-400 focus:ring-2 focus:ring-blue-200 focus:outline-none"
        placeholder="이름을 입력해주세요."
        required
      />
    </div>

    <div>
      <label for="password" class="mb-2 block flex-none text-[13px] text-gray-500">비밀번호<span class="pl-0.5 text-red-500">*</span></label>
      <input
        type="password"
        id="password"
        name="password"
        class="w-full rounded-lg bg-gray-100 px-4 py-3 placeholder:text-sm placeholder:text-gray-400 focus:ring-2 focus:ring-blue-200 focus:outline-none"
        placeholder="비밀번호를 입력해주세요."
        required
      />
      <p class="px-3 pt-2 text-[12px] text-gray-400">
        비밀번호는 영문, 숫자, 특수문자를 포함하여 8자 이상으로 입력해주세요.
      </p>
    </div>

    <div>
      <label for="passwordConfirm" class="mb-2 block flex-none text-[13px] text-gray-500">비밀번호 확인<span class="pl-0.5 text-red-500">*</span></label>
      <input
        type="password"
        id="passwordConfirm"
        name="passwordConfirm"
        class="w-full rounded-lg bg-gray-100 px-4 py-3 placeholder:text-sm placeholder:text-gray-400 focus:ring-2 focus:ring-blue-200 focus:outline-none"
        placeholder="비밀번호를 한번 더 입력해주세요."
        required
      />
    </div>

    <div>
      <label for="phone" class="mb-2 block flex-none text-[13px] text-gray-500">전화번호</label>
      <input
        type="text"
        id="phone"
        name="phone"
        class="w-full rounded-lg bg-gray-100 px-4 py-3 placeholder:text-sm placeholder:text-gray-400 focus:ring-2 focus:ring-blue-200 focus:outline-none"
        placeholder="전화번호를 입력해주세요."
      />
    </div>

    <div>
      <label for="mobile" class="mb-2 block flex-none text-[13px] text-gray-500">휴대전화</label>
      <input
        type="text"
        id="mobile"
        name="mobile"
        class="w-full rounded-lg bg-gray-100 px-4 py-3 placeholder:text-sm placeholder:text-gray-400 focus:ring-2 focus:ring-blue-200 focus:outline-none"
        placeholder="휴대전화 번호를 입력해주세요."
      />
    </div>

    <div>
      <label for="address" class="mb-2 block flex-none text-[13px] text-gray-500">주소</label>
      <input
        type="text"
        id="address"
        name="address"
        class="w-full rounded-lg bg-gray-100 px-4 py-3 placeholder:text-sm placeholder:text-gray-400 focus:ring-2 focus:ring-blue-200 focus:outline-none"
        placeholder="주소를 입력해주세요."
      />
    </div>

    <div>
      <label for="birthDate" class="mb-2 block flex-none text-[13px] text-gray-500">생년월일</label>
      <input
        type="date"
        id="birthDate"
        name="birthDate"
        class="w-full rounded-lg bg-gray-100 px-4 py-3 placeholder:text-sm placeholder:text-gray-400 focus:ring-2 focus:ring-blue-200 focus:outline-none"
      />
    </div>

    <div>
      <label for="position" class="mb-2 block flex-none text-[13px] text-gray-500">직급</label>
      <input
        type="text"
        id="position"
        name="position"
        class="w-full rounded-lg bg-gray-100 px-4 py-3 placeholder:text-sm placeholder:text-gray-400 focus:ring-2 focus:ring-blue-200 focus:outline-none"
        placeholder="직급을 입력해주세요."
      />
    </div>

    <div>
      <label for="description" class="mb-2 block flex-none text-[13px] text-gray-500">설명</label>
      <input
        type="text"
        id="description"
        name="description"
        class="w-full rounded-lg bg-gray-100 px-4 py-3 placeholder:text-sm placeholder:text-gray-400 focus:ring-2 focus:ring-blue-200 focus:outline-none"
        placeholder="설명을 입력해주세요."
      />
    </div>

    <div>
      <label for="hireDate" class="mb-2 block flex-none text-[13px] text-gray-500">입사일</label>
      <input
        type="date"
        id="hireDate"
        name="hireDate"
        class="w-full rounded-lg bg-gray-100 px-4 py-3 placeholder:text-sm placeholder:text-gray-400 focus:ring-2 focus:ring-blue-200 focus:outline-none"
      />
    </div>

    <div>
      <label class="mb-2 block flex-none text-[13px] text-gray-500">권한</label>
      <div class="w-full overflow-x-auto">
        <table class="table-auto min-w-full">
          <thead>
            <tr>
              <% metadata.permissions.forEach((permission, index) => { %>
                <th class="table-cell text-center w-32 min-w-32 px-4 py-3 bg-gray-100 border-t border-b border-gray-200">
                  <p class="text-xs lg:text-[13px] font-normal leading-none text-gray-500"><%=permission.title%></p>
                </th>
              <% }); %>
            </tr>
            </thead>
            <tbody>
              <tr class="border-b border-gray-200">
              <% metadata.permissions.forEach((permission, index) => { %>
                <td class="px-4 py-3 text-center">
                  <input 
                    type="checkbox" 
                    id="permission<%=index%>"
                    class="text-blue-500 border border-gray-300 focus:outline-none cursor-pointer" 
                    value="<%=permission.id%>" 
                  >
                </td>
              <% }); %>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="text-right">
    <button type="submit" class="orb-btn orb-btn-primary">등록</button>
  </div>
</form>

<!-- sweetalert2 -->
<%- include('../common/library/sweetalert2') %>

<script nonce="<%=nonce%>">
  document.getElementById('formEmployeeRegister').addEventListener('submit', async (e) => {
    e.preventDefault();

    // 폼 데이터 수집
    const formData = new FormData(e.target);

    // 폼 데이터 변환
    const data = {};
    formData.forEach((value, key) => {
      data[key] = value;
    });
    
    // permissions를 추가
    data.permissions = Array.from(document.querySelectorAll('input[id^="permission"]:checked')).map(checkbox => Number(checkbox.value));

    try {
      // 직원 등록 API 호출
      const response = await fetch('<%=apiRoutes.employees.regist.url%>', {
        method: '<%=apiRoutes.employees.regist.method%>',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      });

      // 응답 오류
      if (!response.ok) {
        const errorData = await response.json();
        throw new Error(errorData.message || response.statusText);
      }

      // 응답 성공
      alertMessage('success', '<%=apiRoutes.employees.regist.title%> 성공');
      window.location.href = '<%=backendRoutes.employees.url%>';
    } catch (error) {
      alertMessage('error', error.message || '서버 오류가 발생했습니다.');
    }
  });
</script>
