  <div class="block pt-2 mb-2">
    <h1 class='flex justify-between items-baseline gap-1.5 py-2 text-center text-slate-700 transition-all'>
      <span class="font-bold text-xl"><%=title%></span>
      <p class="text-right font-medium text-[13px] text-gray-400"><span class="pr-0.5 text-red-500">*</span>필수입력사항</p>
    </h1>
  </div>
  <form id="formUpdatePassword">
    <div class="space-y-4 text-sm text-gray-800 bg-white p-4 mb-4 lg:p-6 rounded-xl shadow-[0_2px_30px_rgba(0,0,0,.06)]">
      <% if (!data.isForceUpdatePassword) { %>
        <div>
          <label for="password" class="block flex-none mb-2 font-medium text-[13px] text-gray-400">현재 비밀번호<span class="pl-0.5 text-red-500">*</span></label>
          <input type="password" id="password" name="password" class="w-full px-4 py-3 bg-gray-100 placeholder:text-sm placeholder:text-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="비밀번호를 입력해주세요." required>
        </div>
      <% } %>
      <div>
        <label for="new-password" class="block flex-none mb-2 font-medium text-[13px] text-gray-400">새 비밀번호<span class="pl-0.5 text-red-500">*</span></label>
        <input type="password" id="new-password" name="passwordNew" class="w-full px-4 py-3 bg-gray-100 placeholder:text-sm placeholder:text-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="새 비밀번호를 입력해주세요." required>
      </div>
      <div>
        <label for="new-password-confirm" class="block flex-none mb-2 font-medium text-[13px] text-gray-400">비밀번호 확인<span class="pl-0.5 text-red-500">*</span></label>
        <input type="password" id="new-password-confirm" name="passwordNewConfirm" class="w-full px-4 py-3 bg-gray-100 placeholder:text-sm placeholder:text-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="새 비밀번호를 한번 더 입력해주세요." required>
        <p class="pt-2 px-3 text-[12px] text-gray-400 font-medium">비밀번호는 영문, 숫자, 특수문자를 포함하여 8자 이상으로 입력해주세요.</p>
      </div>
    </div>
    <div class="text-right">
      <button type="submit" class="orb-btn-primary">
        수정
      </button>
    </div>
  </form>

<script>
  document.getElementById('formUpdatePassword').addEventListener('submit', async function(event) {
    event.preventDefault();
    
    // 폼 데이터 수집
    const formData = new FormData(this);

    // 폼 데이터 변환
    const data = {};
    formData.forEach((value, key) => {
        data[key] = value;
    });

    try {
      // 비밀번호 변경 API 호출
      const apiUrl = '<%=apiBackendRoutes.employeeUpdatePassword.url%>'.replace(':employeeId', '<%=data.employeeId%>');
      const response = await fetch(apiUrl, {
        method: '<%=apiBackendRoutes.employeeUpdatePassword.method%>',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      });

      // 응답 오류
      if (!response.ok) {
        const errorData = await response.json();
        throw new Error(errorData.message || response.statusText);
      }
      
      // 응답 성공
      alert('<%=apiBackendRoutes.employeeUpdatePassword.title%> 성공');
      window.location.href = '<%=routes.employeeDetail.url%>'.replace(':employeeId', '<%=data.employeeId%>');
        
    } catch (error) {
      alert(error.message || '서버 오류가 발생했습니다.');
        
    }
  });
</script>