<div class="block pt-2">
  <h1 class='flex justify-start items-center gap-1.5 py-2 text-center text-slate-700 transition-all'>
    <span class="font-bold text-xl"><%=title%></span>
  </h1>
</div>

<div class="space-y-3 text-sm bg-white p-4 mb-4 lg:p-6 rounded-xl shadow-[0_2px_30px_0_rgba(0,0,0,.06)]">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-2">
    <div>
      <img class="w-[200px] h-[200px] object-cover rounded-md cursor-pointer" src="<%=data.imagePath || '/images/no-image-200x200.jpg'%>" alt="이미지">
    </div>
    <div class="lg:col-span-2">
      <!-- title -->
      <div class="flex">
        <label class="block w-32 text-gray-500 font-semibold">제목</label>
        <p class="text-gray-800"><%=data.title%></p>
      </div>

      <!-- description -->
      <div class="flex">
        <label class="block w-32 text-gray-500 font-semibold">설명</label>
        <p class="text-gray-800"><%=data.description%></p>
      </div>

      <!-- 발행여부 -->
      <div class="flex">
        <label class="block w-32 text-gray-500 font-semibold">발행여부</label>
        <p class="text-gray-800"><%=data.isPublished%></p>
      </div>

      <!-- 발행일시 -->
      <div class="flex">
        <label class="block w-32 text-gray-500 font-semibold">발행일시</label>
        <p class="text-gray-800"><%=data.publishedAt%> ~ <%=data.unpublishedAt%></p>
      </div>

      <!-- 링크 -->
      <div class="flex">
        <label class="block w-32 text-gray-500 font-semibold">링크</label>
        <p class="text-gray-800"><%=data.linkUrl%></p>
      </div>
    </div>
  </div>
</div>

<!-- Action Buttons -->
<div class="flex flex-col lg:flex-row flex-wrap items-center justify-between gap-1">
  <div class="flex flex-col lg:flex-row items-center gap-1 w-full lg:w-auto">
    <a href="<%=routes.bannersUpdate.url.replace(':bannerId', data.id)%>" class="block orb-btn-secondary">
      수정
    </a>
  </div>
  <div class="flex w-full lg:w-auto">
    <a href="#" id="btn-delete" class="orb-btn-delete">
      삭제
    </a>
  </div>
</div>

<script>
  document.getElementById('btn-delete').addEventListener('click', async (e) => {
    e.preventDefault();

    try {
      // 삭제 확인
      if (confirm('삭제하시겠습니까?')) {
        // 배너 삭제 API 호출
        const apiUrl = '<%=apiBackendRoutes.bannersDelete.url%>'.replace(':bannerId', '<%=data.id%>');
        const response = await fetch(apiUrl, {
          method: '<%=apiBackendRoutes.bannersDelete.method%>',
          headers: {
            'Content-Type': 'application/json'
          }
        });
        
        // 응답 오류
        if (!response.ok) {
          const errorData = await response.json();
          alert(errorData.message || response.statusText);
        }

        // 응답 성공
        alert('<%=apiBackendRoutes.bannersDelete.title%> 성공');
        window.location.href = '<%=routes.banners.url%>?gp=<%=metadata.groupInfo.id%>&sq=<%=data.seq%>';
      }
      
    } catch (error) {
      alert(error.message || '서버 오류가 발생했습니다.');

    }
  });
</script>