<div class="block pt-2">
  <h1 class='flex justify-start items-center gap-1.5 py-2 text-center text-slate-700 transition-all'>
    <span class="font-bold text-xl"><%=title%></span>
  </h1>
</div>

<div class="space-y-3 text-sm bg-white p-4 mb-4 lg:p-6 rounded-xl shadow-[0_2px_30px_0_rgba(0,0,0,.06)]">
  <h2>메인화면 상단 슬라이드 배너</h2>
  <ul class="grid grid-cols-3 lg:grid-cols-6 gap-2">
    <li class="w-full border border-gray-300 rounded-2xl text-center py-4"><a href="<%=routes.banners.url%>?gp=2&sq=1" class="text-slate-800">01</a></li>
    <li class="w-full border border-gray-300 rounded-2xl text-center py-4"><a href="<%=routes.banners.url%>?gp=2&sq=2" class="text-slate-800">02</a></li>
    <li class="w-full border border-gray-300 rounded-2xl text-center py-4"><a href="<%=routes.banners.url%>?gp=2&sq=3" class="text-slate-800">03</a></li>
    <li class="w-full border border-gray-300 rounded-2xl text-center py-4"><a href="<%=routes.banners.url%>?gp=2&sq=4" class="text-slate-800">04</a></li>
    <li class="w-full border border-gray-300 rounded-2xl text-center py-4"><a href="<%=routes.banners.url%>?gp=2&sq=5" class="text-slate-800">05</a></li>
    <li class="w-full border border-gray-300 rounded-2xl text-center py-4"><a href="<%=routes.banners.url%>?gp=2&sq=6" class="text-slate-800">06</a></li>
  </ul>
</div>