<div class="mb-2 block pt-2">
  <h1 class="flex items-center justify-start gap-1.5 py-2 text-center text-slate-700 transition-all">
    <span class="text-xl font-bold"><%=title%></span>
  </h1>
</div>

<div class="mb-4 space-y-3 rounded-xl bg-white p-4 text-sm shadow-[0_2px_30px_0_rgba(0,0,0,.06)] lg:p-6">
  <h2 class="text-base font-semibold text-gray-500">메인 상단 슬라이드 배너</h2>
  <ul class="grid grid-cols-3 gap-2 lg:grid-cols-6">
    <li class="w-full rounded-lg border border-gray-200 text-center">
      <a href="<%=routes.banners.list.url%>?gp=2&sq=1" class="block h-full w-full p-4 font-medium text-gray-500">01</a>
    </li>
    <li class="w-full rounded-lg border border-gray-200 text-center">
      <a href="<%=routes.banners.list.url%>?gp=2&sq=2" class="block h-full w-full p-4 font-medium text-gray-500">02</a>
    </li>
    <li class="w-full rounded-lg border border-gray-200 text-center">
      <a href="<%=routes.banners.list.url%>?gp=2&sq=3" class="block h-full w-full p-4 font-medium text-gray-500">03</a>
    </li>
    <li class="w-full rounded-lg border border-gray-200 text-center">
      <a href="<%=routes.banners.list.url%>?gp=2&sq=4" class="block h-full w-full p-4 font-medium text-gray-500">04</a>
    </li>
    <li class="w-full rounded-lg border border-gray-200 text-center">
      <a href="<%=routes.banners.list.url%>?gp=2&sq=5" class="block h-full w-full p-4 font-medium text-gray-500">05</a>
    </li>
    <li class="w-full rounded-lg border border-gray-200 text-center">
      <a href="<%=routes.banners.list.url%>?gp=2&sq=6" class="block h-full w-full p-4 font-medium text-gray-500">06</a>
    </li>
  </ul>
</div>
