<div class="mb-2 block pt-2">
  <h1 class="flex items-center justify-start gap-1.5 py-2 text-center text-slate-700 transition-all">
    <span class="text-xl font-bold"><%=title%></span>
  </h1>
</div>

<div class="mb-4 space-y-4 rounded-xl bg-white p-4 text-sm shadow-[0_2px_30px_0_rgba(0,0,0,.06)] lg:p-6">
  <h2 class="text-base font-semibold text-gray-500">홈</h2>
  <div class="space-y-2">
    <h3 class="text-sm font-semibold text-gray-500">상단 슬라이드</h3>
    <ul class="flex flex-wrap gap-2">
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=2&sq=1" class="block h-full w-full p-4 font-medium text-gray-500"
          >01</a
        >
      </li>
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=2&sq=2" class="block h-full w-full p-4 font-medium text-gray-500"
          >02</a
        >
      </li>
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=2&sq=3" class="block h-full w-full p-4 font-medium text-gray-500"
          >03</a
        >
      </li>
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=2&sq=4" class="block h-full w-full p-4 font-medium text-gray-500"
          >04</a
        >
      </li>
    </ul>
  </div>
  <div class="space-y-2">
    <h3 class="text-sm font-semibold text-gray-500">소개</h3>
    <ul class="flex flex-wrap gap-2">
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=3&sq=1" class="block h-full w-full p-4 font-medium text-gray-500"
          >01</a
        >
      </li>
    </ul>
  </div>
  <div class="space-y-2">
    <h3 class="text-sm font-semibold text-gray-500">업무분야</h3>
    <ul class="flex flex-wrap gap-2">
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=4&sq=1" class="block h-full w-full p-4 font-medium text-gray-500"
          >01</a
        >
      </li>
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=4&sq=2" class="block h-full w-full p-4 font-medium text-gray-500"
          >02</a
        >
      </li>
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=4&sq=3" class="block h-full w-full p-4 font-medium text-gray-500"
          >03</a
        >
      </li>
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=4&sq=4" class="block h-full w-full p-4 font-medium text-gray-500"
          >04</a
        >
      </li>
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=4&sq=5" class="block h-full w-full p-4 font-medium text-gray-500"
          >05</a
        >
      </li>
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=4&sq=6" class="block h-full w-full p-4 font-medium text-gray-500"
          >06</a
        >
      </li>
    </ul>
  </div>
  <div class="space-y-2">
    <h3 class="text-sm font-semibold text-gray-500">성공사례</h3>
    <ul class="flex flex-wrap gap-2">
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=5&sq=1" class="block h-full w-full p-4 font-medium text-gray-500"
          >01</a
        >
      </li>
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=5&sq=2" class="block h-full w-full p-4 font-medium text-gray-500"
          >02</a
        >
      </li>
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=5&sq=3" class="block h-full w-full p-4 font-medium text-gray-500"
          >03</a
        >
      </li>
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=5&sq=4" class="block h-full w-full p-4 font-medium text-gray-500"
          >04</a
        >
      </li>
    </ul>
  </div>
</div>

<div class="mb-4 space-y-4 rounded-xl bg-white p-4 text-sm shadow-[0_2px_30px_0_rgba(0,0,0,.06)] lg:p-6">
  <h2 class="text-base font-semibold text-gray-500">소개</h2>
  <div class="space-y-2">
    <h3 class="text-sm font-semibold text-gray-500">상단</h3>
    <ul class="flex flex-wrap gap-2">
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=6&sq=1" class="block h-full w-full p-4 font-medium text-gray-500"
          >01</a
        >
      </li>
    </ul>
  </div>
  <div class="space-y-2">
    <h3 class="text-sm font-semibold text-gray-500">변호사</h3>
    <ul class="flex flex-wrap gap-2">
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=7&sq=1" class="block h-full w-full p-4 font-medium text-gray-500"
          >01</a
        >
      </li>
    </ul>
  </div>
  <div class="space-y-2">
    <h3 class="text-sm font-semibold text-gray-500">약력</h3>
    <ul class="flex flex-wrap gap-2">
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=8&sq=1" class="block h-full w-full p-4 font-medium text-gray-500"
          >01</a
        >
      </li>
    </ul>
  </div>
</div>

<div class="mb-4 space-y-4 rounded-xl bg-white p-4 text-sm shadow-[0_2px_30px_0_rgba(0,0,0,.06)] lg:p-6">
  <h2 class="text-base font-semibold text-gray-500">업무분야</h2>
  <div class="space-y-2">
    <h3 class="text-sm font-semibold text-gray-500">상단</h3>
    <ul class="flex flex-wrap gap-2">
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=9&sq=1" class="block h-full w-full p-4 font-medium text-gray-500"
          >01</a
        >
      </li>
    </ul>
  </div>
  <div class="space-y-2">
    <h3 class="text-sm font-semibold text-gray-500">업무분야</h3>
    <ul class="flex flex-wrap gap-2">
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=4&sq=1" class="block h-full w-full p-4 font-medium text-gray-500"
          >01</a
        >
      </li>
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=4&sq=2" class="block h-full w-full p-4 font-medium text-gray-500"
          >02</a
        >
      </li>
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=4&sq=3" class="block h-full w-full p-4 font-medium text-gray-500"
          >03</a
        >
      </li>
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=4&sq=4" class="block h-full w-full p-4 font-medium text-gray-500"
          >04</a
        >
      </li>
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=4&sq=5" class="block h-full w-full p-4 font-medium text-gray-500"
          >05</a
        >
      </li>
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=4&sq=6" class="block h-full w-full p-4 font-medium text-gray-500"
          >06</a
        >
      </li>
    </ul>
  </div>
</div>

<div class="mb-4 space-y-4 rounded-xl bg-white p-4 text-sm shadow-[0_2px_30px_0_rgba(0,0,0,.06)] lg:p-6">
  <h2 class="text-base font-semibold text-gray-500">성공사례</h2>
  <div class="space-y-2">
    <h3 class="text-sm font-semibold text-gray-500">상단</h3>
    <ul class="flex flex-wrap gap-2">
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=10&sq=1" class="block h-full w-full p-4 font-medium text-gray-500"
          >01</a
        >
      </li>
    </ul>
  </div>
</div>

<div class="mb-4 space-y-4 rounded-xl bg-white p-4 text-sm shadow-[0_2px_30px_0_rgba(0,0,0,.06)] lg:p-6">
  <h2 class="text-base font-semibold text-gray-500">Q&A</h2>
  <div class="space-y-2">
    <h3 class="text-sm font-semibold text-gray-500">상단</h3>
    <ul class="flex flex-wrap gap-2">
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=11&sq=1" class="block h-full w-full p-4 font-medium text-gray-500"
          >01</a
        >
      </li>
    </ul>
  </div>
</div>

<div class="mb-4 space-y-4 rounded-xl bg-white p-4 text-sm shadow-[0_2px_30px_0_rgba(0,0,0,.06)] lg:p-6">
  <h2 class="text-base font-semibold text-gray-500">상담 및 의뢰</h2>
  <div class="space-y-2">
    <h3 class="text-sm font-semibold text-gray-500">상단</h3>
    <ul class="flex flex-wrap gap-2">
      <li class="w-full flex-1 rounded-lg border border-gray-200 text-center">
        <a href="<%=routes.banners.list.url%>?gp=12&sq=1" class="block h-full w-full p-4 font-medium text-gray-500"
          >01</a
        >
      </li>
    </ul>
  </div>
</div>
