<div class="block pt-2 mb-2">
  <h1 class='flex justify-between items-baseline gap-1.5 py-2 text-center text-slate-700 transition-all'>
    <span class="text-2xl font-semibold"><%=title%></span>
    <p class="text-right font-medium text-[13px] text-gray-400"><span class="pr-0.5 text-red-500">*</span>필수입력사항</p>
  </h1>
</div>

<form id="formBannerUpdate" enctype="multipart/form-data">
  <!-- 이미지 형식만 가능한 input file -->
  <input type="file" id="image" name="image" class="hidden" accept="image/*">
  <div class="space-y-4 text-sm bg-white p-4 mb-4 lg:p-6 rounded-xl shadow-[0_2px_30px_rgba(0,0,0,.06)]">
    <div>
      <div class="flex justify-between items-baseline">
        <label for="image" class="block flex-none mb-2 font-medium text-[13px] text-gray-400">
          이미지<% if (metadata.groupInfo.kind === 'image') { %><span class="pl-0.5 text-red-500">*</span><% } %>
        </label>
      </div>
      <div class="relative w-full lg:w-[250px] aspect-3/2">
        <button type="button" id="imageAdd" class="absolute top-0 left-0 w-full h-full bg-gray-100 border border-dashed border-gray-200 rounded-lg cursor-pointer">
          <span class="absolute inset-0 flex flex-col items-center justify-center">
            <img class="block w-[50px] opacity-50" src="/images/add-image-512x512.png" alt="이미지 추가">
            <p class="mt-1 text-xs text-gray-400">(<%=metadata.groupInfo.imageWidth%>x<%=metadata.groupInfo.imageHeight%>)</p>
          </span>
        </button>
        <div id="imagePreviewContainer" class="relative block w-full h-full z-10 rounded-lg overflow-hidden">
          <button type="button" id="imageDelete" class="absolute top-2 right-2 w-[24px] h-[24px] bg-white opacity-80 rounded-full cursor-pointer z-20">
            <span class="absolute inset-0 flex items-center justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" fill="currentColor" class="h-[16px] w-[16px] text-gray-400">
                <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
              </svg>
            </span>
          </button>
          <div class="relative w-full h-full bg-gray-100 border border-gray-200 rounded-lg z-10 overflow-hidden">
            <img id="imagePreview" class="w-full h-full object-contain" src="<%=data.imagePath || '/images/no-image-200x200.jpg'%>" alt="이미지 미리보기">
          </div>
        </div>
      </div>
      <div class="flex gap-2 bg-blue-50 rounded-lg px-4 py-2 mt-3 text-[13px] text-blue-500">
        <span class="font-medium">TIP</span>
        <ul>
          <li><span>·</span> 이미지 사이즈: <%=metadata.groupInfo.imageWidth%>x<%=metadata.groupInfo.imageHeight%>px</li>
          <!-- TODO: 이미지 크기 변수 처리 -->
          <li><span>·</span> 이미지 크기: 20MB 이하</li>
        </ul>
      </div>
    </div>

    <div>
      <label for="title" class="block flex-none mb-2 font-medium text-[13px] text-gray-400">제목<span class="pl-0.5 text-red-500">*</span></label>
      <input type="text" id="title" name="title" class="w-full px-4 py-3 bg-gray-100 placeholder:text-sm placeholder:text-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" value="<%=data.title%>" placeholder="제목을 입력해주세요." required>
    </div>

    <div>
      <label for="description" class="block flex-none mb-2 font-medium text-[13px] text-gray-400">설명</label>
      <input type="text" id="description" name="description" class="w-full px-4 py-3 bg-gray-100 placeholder:text-sm placeholder:text-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" value="<%=data.description%>" placeholder="설명을 입력해주세요.">
    </div>

    <div class="flex flex-col lg:flex-row gap-4">
      <div class="flex-1">
        <label for="linkType" class="block flex-none mb-2 font-medium text-[13px] text-gray-400">링크 타입</label>
        <select id="linkType" name="linkType" class="w-full p-3 bg-gray-100 placeholder:text-sm placeholder:text-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 border-r-12 border-gray-100">
          <option value="">선택</option>
          <option value="self" <%if (data.linkType === 'self') {%>selected<%}%>>내부 링크</option>
          <option value="outer" <%if (data.linkType === 'outer') {%>selected<%}%>>외부 링크</option>
        </select>
      </div>
      <div class="flex-3">
        <label for="linkUrl" class="block flex-none mb-2 font-medium text-[13px] text-gray-400">링크</label>
        <input type="text" id="linkUrl" name="linkUrl" class="w-full px-4 py-3 bg-gray-100 placeholder:text-sm placeholder:text-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" value="<%=data.linkUrl%>" placeholder="링크 주소를 입력해주세요.">
      </div>
    </div>

    <div>
      <label for="isPublished" class="block flex-none mb-2 font-medium text-[13px] text-gray-400">발행 여부</label>
      <select id="isPublished" name="isPublished" class="w-full p-3 bg-gray-100 placeholder:text-sm placeholder:text-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 border-r-12 border-gray-100">
        <option value="N" <%if (!data.isPublished) {%>selected<%}%>>미발행</option>
        <option value="Y" <%if (data.isPublished) {%>selected<%}%>>발행</option>
      </select>
    </div>

    <div class="flex flex-col lg:flex-row gap-4">
      <div class="flex-1">
        <label for="publishedAt" class="block flex-none mb-2 font-medium text-[13px] text-gray-400">발행 일시<span class="pl-0.5 text-red-500">*</span></label>
        <input type="datetime-local" id="publishedAt" name="publishedAt" class="w-full px-4 py-3 bg-gray-100 placeholder:text-sm placeholder:text-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" value="<%=data.publishedAt%>" required>
      </div>
      <div class="flex-1">
        <label for="unpublishedAt" class="block flex-none mb-2 font-medium text-[13px] text-gray-400">발행 마감 일시<span class="pl-0.5 text-red-500">*</span></label>
        <input type="datetime-local" id="unpublishedAt" name="unpublishedAt" class="w-full px-4 py-3 bg-gray-100 placeholder:text-sm placeholder:text-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" value="<%=data.unpublishedAt%>" required>
      </div>
    </div>
  </div>
      
  <div class="text-right">
    <button type="submit" class="orb-btn-primary">
      수정
    </button>
  </div>
</form>

<script nonce="<%=nonce%>">
  // 배너 이미지 등록
  document.getElementById('imageAdd').addEventListener('click', (e) => {
    document.getElementById('image').click();
  });

  // 이미지 미리보기
  document.getElementById('image').addEventListener('change', (e) => {
    const file = e.target.files[0];
    const reader = new FileReader();
    reader.onload = function(e) {
      document.getElementById('imagePreview').src = e.target.result;
      document.getElementById('imagePreviewContainer').classList.remove('hidden');
    }
    reader.readAsDataURL(file);
  });

  // 이미지 삭제
  document.getElementById('imageDelete').addEventListener('click', (e) => {
    document.getElementById('image').value = '';
    document.getElementById('imagePreview').src = '';
    document.getElementById('imagePreviewContainer').classList.add('hidden');
  });

  // 배너 수정 요청
  document.getElementById('formBannerUpdate').addEventListener('submit', async (e) => {
    e.preventDefault();
    
    try {
      // 폼 데이터 수집
      const formData = new FormData(e.target);

      // 배너 등록 API 호출
      const apiUrl = '<%=apiRoutes.banners.update.url%>'.replace(':bannerId', '<%=data.id%>');
      const response = await fetch(apiUrl, {
        method: '<%=apiRoutes.banners.update.method%>',
        headers: { },
        body: formData
      });

      // 응답 오류
      if (!response.ok) {
        const errorData = await response.json();
        throw new Error(errorData.message || response.statusText);
      }

      // 응답 성공
      alert('<%=apiRoutes.banners.update.title%> 성공');
      window.location.href = "<%=routes.banners.list.url%>?gp=<%=metadata.groupInfo.id%>&sq=<%=data.seq%>";

    } catch (error) {
      alert(error.message || '서버 오류가 발생했습니다.');
    }
  });
</script>