<div class="block pt-2 mb-2">
  <h1 class='flex justify-between items-baseline gap-1.5 py-2 text-center text-slate-700 transition-all'>
    <span class="font-bold text-xl"><%=title%></span>
    <p class="text-right font-medium text-[13px] text-gray-400"><span class="pr-0.5 text-red-500">*</span>필수입력사항</p>
  </h1>
</div>

<form id="formBannerWrite" enctype="multipart/form-data">
  <!-- 이미지 형식만 가능한 input file -->
  <input type="file" id="image" name="image" class="hidden" accept="image/*">
  <input type="hidden" name="groupId" value="<%=metadata.groupInfo.id%>">
  <input type="hidden" name="seq" value="<%=metadata.seq%>">
  <div class="space-y-4 text-sm bg-white p-4 mb-4 lg:p-6 rounded-xl shadow-[0_2px_30px_rgba(0,0,0,.06)]">
    <div>
      <div class="flex justify-between items-baseline">
        <label for="image" class="block flex-none mb-2 font-medium text-[13px] text-gray-400">
          이미지<% if (metadata.groupInfo.kind === 'image') { %><span class="pl-0.5 text-red-500">*</span><% } %>
        </label>
      </div>
      <div class="relative w-full lg:w-[250px] aspect-3/2">
        <button type="button" id="imageAdd" class="absolute top-0 left-0 w-full h-full bg-gray-100 border border-dashed border-gray-200 rounded-lg cursor-pointer">
          <span class="absolute inset-0 flex flex-col items-center justify-center">
            <img class="block w-[50px] opacity-50" src="/images/add-image-512x512.png" alt="이미지 추가">
            <p class="mt-1 text-xs text-gray-400">(<%=metadata.groupInfo.imageWidth%>x<%=metadata.groupInfo.imageHeight%>)</p>
          </span>
        </button>
        <div id="imagePreviewContainer" class="relative hidden w-full h-full z-10 rounded-lg overflow-hidden">
          <button type="button" id="imageDelete" class="absolute top-2 right-2 w-[24px] h-[24px] bg-white opacity-80 rounded-full cursor-pointer z-20">
            <span class="absolute inset-0 flex items-center justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" fill="currentColor" class="h-[16px] w-[16px] text-gray-400">
                <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
              </svg>
            </span>
          </button>
          <div class="relative w-full h-full bg-gray-100 border border-gray-200 rounded-lg z-10">
            <img id="imagePreview" class="w-full h-full object-contain" src="" alt="이미지 미리보기">
          </div>
        </div>
      </div>
      <div class="flex gap-2 border border-blue-300 bg-blue-50 rounded-lg px-4 py-2 mt-3 text-[13px] text-blue-500">
        <span class="font-medium">TIP</span>
        <ul>
          <li><span>·</span> 이미지 사이즈: <%=metadata.groupInfo.imageWidth%>x<%=metadata.groupInfo.imageHeight%>px</li>
        </ul>
      </div>
    </div>
    <div>
      <label for="title" class="block flex-none mb-2 font-medium text-[13px] text-gray-400">제목<span class="pl-0.5 text-red-500">*</span></label>
      <input type="text" id="title" name="title" class="w-full px-4 py-3 bg-gray-100 placeholder:text-sm placeholder:text-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="제목을 입력해주세요." required>
    </div>
    
    <div>
      <label for="description" class="block flex-none mb-2 font-medium text-[13px] text-gray-400">설명</label>
      <input type="text" id="description" name="description" class="w-full px-4 py-3 bg-gray-100 placeholder:text-sm placeholder:text-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="설명을 입력해주세요.">
    </div>

    <div class="flex flex-col lg:flex-row gap-4">
      <div class="flex-1">
        <label for="linkType" class="block flex-none mb-2 font-medium text-[13px] text-gray-400">링크 타입</label>
        <select id="linkType" name="linkType" class="w-full p-3 bg-gray-100 placeholder:text-sm placeholder:text-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 border-r-12 border-gray-100">
          <option value="">선택</option>
          <option value="self">내부 링크</option>
          <option value="outer">외부 링크</option>
        </select>
      </div>
      <div class="flex-3">
        <label for="linkUrl" class="block flex-none mb-2 font-medium text-[13px] text-gray-400">링크</label>
        <input type="text" id="linkUrl" name="linkUrl" class="w-full px-4 py-3 bg-gray-100 placeholder:text-sm placeholder:text-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="링크 주소를 입력해주세요.">
      </div>
    </div>

    <div>
      <label for="isPublished" class="block flex-none mb-2 font-medium text-[13px] text-gray-400">발행 여부</label>
      <select id="isPublished" name="isPublished" class="w-full p-3 bg-gray-100 placeholder:text-sm placeholder:text-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 border-r-12 border-gray-100">
        <option value="N">미발행</option>
        <option value="Y">발행</option>
      </select>
    </div>

    <div class="flex flex-col lg:flex-row gap-4">
      <div class="flex-1">
        <label for="publishedAt" class="block flex-none mb-2 font-medium text-[13px] text-gray-400">발행 일시<span class="pl-0.5 text-red-500">*</span></label>
        <input type="datetime-local" id="publishedAt" name="publishedAt" class="w-full px-4 py-3 bg-gray-100 placeholder:text-sm placeholder:text-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required>
      </div>
      <div class="flex-1">
        <label for="unpublishedAt" class="block flex-none mb-2 font-medium text-[13px] text-gray-400">발행 마감 일시<span class="pl-0.5 text-red-500">*</span></label>
        <input type="datetime-local" id="unpublishedAt" name="unpublishedAt" class="w-full px-4 py-3 bg-gray-100 placeholder:text-sm placeholder:text-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required>
      </div>
    </div>
  </div>
      
  <div class="text-right">
    <button type="submit" class="orb-btn-primary">
      등록
    </button>
  </div>
</form>

<script>
  // 배너 이미지 등록
  document.getElementById('imageAdd').addEventListener('click', (e) => {
    document.getElementById('image').click();
  });

  // 이미지 미리보기
  document.getElementById('image').addEventListener('change', (e) => {
    const file = e.target.files[0];
    const reader = new FileReader();
    reader.onload = (e) => {
      document.getElementById('imagePreview').src = e.target.result;
      document.getElementById('imagePreviewContainer').classList.remove('hidden');
    };
    reader.readAsDataURL(file);
  });

  // 이미지 삭제
  document.getElementById('imageDelete').addEventListener('click', (e) => {
    document.getElementById('image').value = '';
    document.getElementById('imagePreview').src = '';
    document.getElementById('imagePreviewContainer').classList.add('hidden');
  });

  // 
  document.getElementById('formBannerWrite').addEventListener('submit', async (e) => {
    e.preventDefault();

    try {
      // 폼 데이터 수집
      const formData = new FormData(e.target);

      // groupId 필수
      if (!formData.get('groupId')) {
        throw new Error('배너 그룹 ID가 없습니다.');
      }

      // seq 필수
      if (!formData.get('seq')) {
        throw new Error('배너 시퀀스가 없습니다.');
      }

      // title이 없으면 등록 불가 
      if (!formData.get('title')) {
        throw new Error('제목을 입력해주세요.');
      }

      // kind가 image일때 image file 필수
      const kind = `<%=metadata.groupInfo.kind%>`;
      if (kind === 'image' && formData.get('image').size === 0) {
        throw new Error('이미지를 선택해주세요.');
      }

      // linkType이 있으면 link가 필수
      if (formData.get('linkType') && !formData.get('linkUrl')) {
        throw new Error('링크 주소를 입력해주세요.');
      }
      
      // link가 있으면 linkType이 필수
      if (formData.get('linkUrl') && !formData.get('linkType')) {
        throw new Error('링크 타입을 선택해주세요.');
      }

      // linkType이 outer이면 link는 반드시 http:// 또는 https://로 시작
      if (formData.get('linkType') === 'outer' && !formData.get('linkUrl').match(/^https?:\/\//)) {
        throw new Error('외부 링크는 http:// 또는 https://로 시작해야 합니다.');
      }

      // 발행 마감일이 발행일보다 빠르면 등록 불가
      const publishedAt = new Date(formData.get('publishedAt'));
      const unpublishedAt = new Date(formData.get('unpublishedAt'));
      if (publishedAt > unpublishedAt) {
        throw new Error('발행 마감일은 발행일보다 빠를 수 없습니다.');
      }

      // 발행 마감일이 현재 시간보다 이전이면 등록 불가
      if (unpublishedAt && unpublishedAt < new Date()) {
        throw new Error('발행 마감일은 현재 시간보다 이전일 수 없습니다.');
      }

      // 배너 등록 API 호출
      const apiUrl = '<%=apiBackendRoutes.bannerWrite.url%>';
      const response = await fetch(apiUrl, {
        method: '<%=apiBackendRoutes.bannerWrite.method%>',
        headers: { },
        body: formData
      });

      // 응답 오류 / 등록 실패
      if (!response.ok) {
        const errorData = await response.json();
        throw new Error(errorData.message || response.statusText);
      }

      // 응답 성공
      alert('<%=apiBackendRoutes.bannerWrite.title%> 성공');
      window.location.href = '<%=routes.banners.url%>?gp=<%=metadata.groupInfo.id%>&sq=<%=metadata.seq%>';

    } catch (error) {
      alert(error.message || '서버 오류가 발생했습니다.');
    }
  });
</script>