<div class="my-2">
  <h1 class="flex items-center justify-start gap-1.5 py-2 text-center text-slate-700 transition-all">
    <span class="orb-head"><%=title%></span>
  </h1>
</div>

<div class="bg-default-bg orb-shadow overflow-x-auto rounded-xl p-4 text-sm lg:p-6">
  <!-- 탭메뉴 -->
  <%- include('partials/tab-menu') %>

  <!-- 게시물 관리 -->
  <%- include('partials/contents') %>

  <!-- 설정 -->
  <%- include('partials/setting') %>
</div>

<!-- grid.js -->
<%- include('../common/library/gridjs') %>

<script nonce="<%=nonce%>">
  document.addEventListener('DOMContentLoaded', () => {
    const contentsContainer = document.getElementById('contents-container');
    const settingContainer = document.getElementById('contents-setting-container');

    let currentTab = null;

    const switchTab = (activeTab) => {
      // 모든 탭 버튼에서 active 클래스 제거
      document.querySelectorAll('[data-tab]').forEach((button) => {
        button.classList.remove('active', 'bg-surface-bg', 'text-secondary-main');
        button.classList.add(
          'hover:bg-paper-bg',
          'hover:text-gray-700',
          'dark:hover:bg-gray-800',
          'dark:hover:text-gray-400'
        );
      });

      // 클릭된 탭 버튼에 active 클래스 추가
      const activeButton = document.querySelector(`[data-tab="${activeTab}"]`);
      if (activeButton) {
        activeButton.classList.remove(
          'hover:bg-paper-bg',
          'hover:text-gray-700',
          'dark:hover:bg-gray-800',
          'dark:hover:text-gray-400'
        );
        activeButton.classList.add('active', 'bg-surface-bg', 'text-secondary-main');
      }

      if (activeTab === 'contents') {
        contentsContainer.classList.remove('hidden');
        settingContainer.classList.add('hidden');
      } else if (activeTab === 'contents-setting') {
        contentsContainer.classList.add('hidden');
        settingContainer.classList.remove('hidden');
      }

      currentTab = activeTab;
    };

    // 탭 버튼에 이벤트 리스너 추가
    document.querySelectorAll('[data-tab]').forEach((button) => {
      button.addEventListener('click', () => {
        const tabName = button.getAttribute('data-tab');
        switchTab(tabName);
      });
    });

    // 초기화
    switchTab('contents');
  });
</script>
