<div class="block pt-2">
  <h1 class='flex justify-start items-center gap-1.5 py-2 text-center text-slate-700 transition-all'>
    <span class="font-bold text-xl"><%=title%></span>
  </h1>
</div>
<div class="py-2 mb-2 rounded-xl">
  <div class="flex justify-between items-center">
    <div>
      <a href="<%=routes.contentWrite.url.replace(':groupId', metadata.groupId)%>" class="orb-btn-primary">게시글 등록</a>
    </div>
    <div class="ml-3">
      <div class="w-full max-w-sm min-w-[200px] relative">
        <div class="relative">
          <input
          class="w-full pr-11 h-10 pl-3 py-2 bg-gray-200 placeholder:text-gray-400 text-gray-700 text-sm rounded-lg transition duration-200 ease focus:outline-none focus:bg-gray-300 hover:bg-gray-300"
          placeholder="게시물 검색"
          />
          <button
          class="absolute h-8 w-8 right-1 top-1 my-auto px-2 flex items-center bg-transparent rounded"
          type="button"
          >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-8 h-8 text-gray-600">
            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>  
  
<div class="orb-list">
  <div class="bg-white p-4 mb-4 lg:p-6 rounded-xl shadow-[0_2px_30px_rgba(0,0,0,.06)] overflow-x-auto">
    <table>
      <thead>
      <tr>
        <th class="text-center w-24"><p>글번호</p></th>
        <th class="text-center w-auto min-w-[280px]"><p>제목</p></th>
        <th class="text-center w-32 min-w-32"><p>작성자</p></th>
        <th class="hidden lg:table-cell text-center w-32 min-w-32"><p>작성일</p></th>
      </tr>
      </thead>
      <tbody>
        <% if (data.length === 0) { %>
          <tr>
            <td colspan="5" class="py-6 text-center"><p class="text-gray-400">등록된 게시글이 없습니다.</p></td>
          </tr>
        <% } else { %>
        <% data.forEach(content => { %>
          <tr>
            <td class="text-center">
              <p class="px-3"><%=content.id%></p>
            </td>
            <td>
              <a href="<%=routes.contentDetail.url.replace(':groupId', metadata.groupId).replace(':contentId', content.id)%>" class="hover:underline decoration-gray-800">
                <p class="font-medium"><%=content.title%></p>
              </a>
            </td>
            <td>
              <p class="text-center"><%=content.writer ?? '-'%></p>
            </td>
            <td class="hidden lg:table-cell text-center">
              <p class="text-xs"><%=content.createdAt%></p>
            </td>
          </tr>
        <% }); } %>
      </tbody>
    </table>
  </div>
  <!-- 페이지 버튼 -->
  <% if (metadata.totalPage >= 1) { %>
    <div class="bg-white py-2 lg:py-4 rounded-xl shadow-[0_2px_30px_rgba(0,0,0,.06)]">  
      <div class="flex justify-center space-x-1">
        <% if (metadata.page > 1) { %><button><a href="?page=<%=metadata.page - 1%>">이전</a></button><% } %>
        <% 
          let startPage = metadata.page - 2;
          if (startPage < 1) startPage = 1;
          const endPage = metadata.page + 2 > metadata.totalPage ? metadata.totalPage : metadata.page + 2;
          for (let i = startPage; i <= endPage; i++) { 
        %> 
          <button class="cursor-pointer <%if (i === metadata.page) {%>active<%}%>"><a href="?page=<%=i%>"><%=i%></a></button>
        <% } %>
        <% if (metadata.page < metadata.totalPage) { %><button class="cursor-pointer"><a href="?page=<%=metadata.page + 1%>">다음</a></button><% } %>
      </div>
    </div>
  <% } %>
</div>