<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Google Tag Manager -->
    <script nonce="<%=nonce%>">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-PMKFN8WT');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- title -->
    <title><%=settings.title%> | <%=settings.introduction%></title>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="<%=settings.favicon%>" />
    <link rel="icon" type="image/png" sizes="32x32" href="<%=settings.favicon%>" />
    <link rel="icon" type="image/png" sizes="16x16" href="<%=settings.favicon%>" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%=settings.favicon%>" />
    <!-- <link rel="manifest" href="/site.webmanifest" /> -->
    <!-- <meta name="theme-color" content="#ffffff" /> -->
    <!-- meta -->
    <meta name="description" content="<%=settings.description%>" />
    <meta name="keywords" content="<%=settings.keywords%>" />
    <!-- og -->
    <meta property="og:title" content="<%=settings.ogTag['og:title']%>" />
    <meta property="og:description" content="<%=settings.ogTag['og:description']%>" />
    <meta property="og:image" content="<%=settings.ogTag['og:image']%>" />
    <meta property="og:url" content="<%=settings.ogTag['og:url']%>" />
    <meta property="og:type" content="<%=settings.ogTag['og:type']%>" />
    <!-- font -->
    <link rel="preload" href="/fonts/Pretendard-Variable.woff2" as="font" type="font/woff2" crossorigin />
    <!-- css -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/tailwind.css?202502081" />
    <link rel="stylesheet" href="/css/frontend/index.css?20250318" />
  </head>
  <body>
    <!-- 헤더, 네비게이션 -->
    <%- include('partials/header') %>
    <!-- 본문 -->
    <main class="min-h-[calc(100vh-217px)]"><%- body %></main>
    <!-- 푸터 -->
    <%- include('partials/footer') %>
  </body>
</html>
